<%
  @page_title = 'Keyboard shortcuts'
%>

<h2 class="section">
  <%= link_to 'Help', help_path %> &raquo;
  <%= link_to @page_title, keyboard_help_path %>
</h2>

<div class="help_page">
  <h3>
    General shortcuts
  </h3>

  <table>
    <tr>
      <td class="short">
        <strong>G</strong> then <strong>D</strong>
      </td>
      <td>
        All discussions
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>G</strong> then <strong>F</strong>
      </td>
      <td>
        Followed discussions
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>G</strong> then <strong>Shift+F</strong>
      </td>
      <td>
        Favorite discussions
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>G</strong> then <strong>C</strong>
      </td>
      <td>
        Conversations
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>G</strong> then <strong>U</strong>
      </td>
      <td>
        Users
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>G</strong> then <strong>I</strong>
      </td>
      <td>
        Invites
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>Shift+J</strong> or <strong>Shift+N</strong>
      </td>
      <td>
        Next page
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>Shift+K</strong> or <strong>Shift+P</strong>
      </td>
      <td>
        Previous page
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>/</strong>
      </td>
      <td>
        Search
      </td>
    </tr>
  </table>

  <h3>
    Discussions/conversations list
  </h3>

  <table>
    <tr>
      <td class="short">
        <strong>J</strong> or <strong>N</strong>
      </td>
      <td>
        Next discussion
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>K</strong> or <strong>P</strong>
      </td>
      <td>
        Previous discussion
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>O</strong> or <strong>Enter</strong>
      </td>
      <td>
        Open discussion
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>Shift+O</strong> or <strong>Shift+Enter</strong>
      </td>
      <td>
        Open discussion in new window or tab
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>C</strong>
      </td>
      <td>
        Create a new discussion
      </td>
    </tr>
    <!--m/y - Mark as read-->
  </table>

  <h3>
    Viewing posts
  </h3>

  <table>
    <tr>
      <td class="short">
        <strong>J</strong> or <strong>N</strong>
      </td>
      <td>
        Next post
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>K</strong> or <strong>P</strong>
      </td>
      <td>
        Previous post
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>C</strong>
      </td>
      <td>
        Reply
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>Q</strong>
      </td>
      <td>
        Quote currently selected post
      </td>
    </tr>
    <tr>
      <td class="short">
        <strong>R</strong>
      </td>
      <td>
        Load new posts
      </td>
    </tr>
    <!--u - Go back to list-->
  </table>
</div>
