.ac_results {
  margin-top: 4px;
  padding: 2px;
  border: 1px solid #e2dcbf;
  background-color: #fff;
  overflow: hidden;
  z-index: 99999;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font-size: 1.4em;
    line-height: 18px;
    overflow: hidden;
    color: #484030;
  }

  .ac_over {
    background-color: #05506d;
    color: #fff;
  }
}

.ac_odd {
  background-color: #eee;
  background: #f8f7f1;
}
