input,
textarea {
  font-size: 1.2em;
}

#content,
#sidebar {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border-radius: 3px;
    padding: 8px 10px;
    border: 1px solid #d7d7d7;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.05);
  }
}

textarea {
  width: 100%;
  max-width: 780px;
  height: 300px;
  padding: 10px;
  border: 1px solid #d7d7d7;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.05);
}

label {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.4em;
}

label .description {
  font-weight: normal;
  color: #555;
}

.typeahead-input {
  display: flex;
  #content & input[type="text"] {
    padding-right: 40px;
  }
  button {
    box-shadow: none;
    border: none;
    background: none;
    padding: 8px 0px;
    width: 40px;
    margin-left: -40px;
  }
}

.dropdown-menu {
  position: absolute;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  margin-top: 35px;
  min-width: 200px;
  max-height: 300px;
  overflow: scroll;
  li {
    padding: 4px 10px;
  }
  .active {
    background-color: #622;
    color: #fff;
  }
  .selected {
    font-weight: bold;
  }
  #content & {
    min-width: 350px;
  }
}

div.errors {
  color: #100;
  border: 1px solid #d88;
  background: #fdd;
  padding: 10px 15px 1px 15px;
  margin: 0 -16px 1em -16px;
  ul {
    margin: 0;
    list-style-type: disc;
    list-style-position: inside;
  }
}

.field_with_errors {
  display: block;
  label {
    margin-top: 12px;
    color: #100;
    background: #fdd;
    padding: 2px 8px;
    margin-left: -8px;
    span.description {
      color: #633;
    }
  }
}

div.fieldWithErrors {
  display: inline;
}

fieldset {
  margin-bottom: 20px;
  h2 {
    border-bottom: 1px solid #e2dcbf;
    margin-top: 20px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    color: #444;
  }
  p.info {
    font-size: 1.2em;
  }
}

textarea.code {
  width: 100%;
  font-family:
    Menlo,
    Monaco,
    Consolas,
    Courier New,
    Courier,
    monospace;
}
