.richTextToolbar,
.emojiBar {
  position: relative;
  display: block;
  list-style: none;
  border: 1px solid #d7d7d7;
  border-bottom: 0px;
  background-color: #fafafa;
  margin: 0;
  padding: 0px 10px 0px 0px;
  line-height: 30px;
  margin-bottom: 0px;
  width: 100%;
  max-width: 790px;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .button,
  .formatting {
    a {
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: block;
      cursor: pointer;
    }
  }

  .formatting {
    float: right;
    a {
      float: right;
    }
  }

  .button {
    float: left;

    a {
      width: 35px;
      float: left;
      border-left: 1px solid #fff;
      border-right: 1px solid #d7d7d7;
      color: #555;
      font-size: 14px;
      background-color: #f6f6f6;
      &:focus,
      &:hover {
        color: #000;
        background: #fdfdfd;
      }
    }

    span {
      display: none;
    }
  }
}

.emojiBar {
  .button {
    a {
      background-color: transparent;
      line-height: 25px;
      border: 0px;
      width: 28px;
      img {
        vertical-align: middle;
      }
    }
  }
}

textarea.rich {
  outline: 0;
}
