.tabbed_navigation {
  float: right;
  font-weight: bold;
  font-size: 1.3em;
  max-width: 600px;
  li {
    display: inline;
    a {
      padding: 2px 5px;
    }
    &.active a {
      background: #05506d;
      color: #fff;
    }
  }
}

/* Top tabs: users list and editing profiles */
.topTabs {
  border-bottom: 1px solid #e2dcbf;
  padding-bottom: 1px;
  li {
    display: inline;
    a {
      border: 1px solid #e2dcbf;
      padding: 2px 7px;
      background: #f8f7f1;
      color: #484030;
      font-weight: bold;
      font-size: 1.1em;
      &:hover {
        color: #460000;
      }
    }
    &.active a {
      background: #05506d;
      background: #622;
      border: 1px solid #622;
      color: #fff;
    }
  }
}
