<ul class="tabbed_navigation">
	<li><%= link_to "Inbox", messages_path, :class => (section == 'inbox' ? 'active' : nil) %></li>
	<li><%= link_to "Outbox", outbox_messages_path, :class => (section == 'outbox' ? 'active' : nil) %></li>
</ul>
