<% 
	add_body_class "messages"
	@page_title = "Conversations" 
%>
<% if @users.length > 0 %>
	<div class="conversations"><% @users.each do |user| %>
		<div class="conversation <%= "new_posts" if @current_user.unread_messages_from?(user) %>">
			<div class="last_message_date">
				<%= formatted_time @current_user.last_message_with(user).created_at %>
			</div>
			<h2><%= link_to user.username, last_user_conversation_page_path(:username => user.username, :anchor => "new") %></h2>
			<p><%= h @current_user.last_message_with(user).body %></p>
		</div>
	<% end %></div>
<% else %>
	<div class="page_content"><p>You don't have any conversations.</p></div>
<% end %>