//= require default/reset
//= require default/components/spoilers

a, a:visited {
  text-decoration: none;
  color: #763047;
}
a:hover {
  color: #025;
}

strong {
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Helvetica;
  background: #FFFFFF;
  color: #000000;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-size: 15px;
  min-height: 415px;
  line-height: 1.4;
}

body[orient="landscape"] {
  min-height: 268px;
}

#header {
  background: #111 image-url('b3s/mobile/header.png');
  height: 45px;
}
#header #navigationToggle {
  position: absolute;
  top: 1px;
  right: 0;
}
#header #navigationToggle a {
  display: block;
  width: 67px;
  height: 44px;
  background-size: 134px 44px;
  background-image: image-url('b3s/mobile/header_menu.png');
  background-position: 0px 0px;
}
#header #navigationToggle a.new {
  background-position: -67px 0px;
}

#header h1.logo {
  width: 167px;
  height: 45px;
  text-indent: -9000px;
  margin: 0 auto;
}
#header h1.page_title {
  overflow: hidden;
  padding-top: 11px;
  padding-left: 55px;
  width: 260px;
  font-size: 17px;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
  white-space: nowrap;
  color: #FFFFFF;
}
body[orient="landscape"] #header h1.page_title {
    width: 420px;
}
#header h1.page_title .site_name, #header h1.page_title .site_name a, #header h1.page_title .site_name a:visited {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: transparent image-url('b3s/mobile/b3slogo.png');
  height: 45px;
  width: 49px;
  text-indent: -9000px;
}

#navigation {
  /*
  position: absolute;
  top: 45px;
  */
  overflow: auto;
  /*border-top: 1px solid #aaa;*/
  background: #ddd;
  background: #f2f2f2 image-url('b3s/mobile/navigation_bg.gif') no-repeat;
  padding-top: 2px;
  border-bottom: 1px solid #ddd;
  /*-webkit-box-shadow: #888 0px 4px 4px;*/

  padding: 5px;
  display: none;
}
#navigation.active {
  display: block;
}
#navigation .search {
  border-top: 1px solid #D0BBBB;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 6px;
}
#navigation .search select {
  font-size: 0.9em;
  margin-left: 82px;
}
#navigation .search .query {
  width: 195px;
  margin-left: 5px;
}
body[orient="landscape"] #navigation .search .query {
  width: 300px;
}

#navigation li {
  /*padding: 4px 10px;*/
  /*
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid #d9b6d7;
  */
  font-size: 16px;
  float: left;
  padding: 4px 4px;
}
#navigation li a {
  width: 125px;
  color: #6c1619;
  border: 1px solid #D0BBBB;
  background: #fff;
  display: block;

  padding: 5px 8px;
  -webkit-border-radius: 5px;
}

#notice {
  padding: 10px 15px;
  background: #fdd;
  border-bottom: 1px solid #daa;
  font-size: 13px;
  color: #800;
}

#footer {
  padding: 5px 10px;
  border-top: 1px solid #ddd;
  background: #f8f8f8;
  color: #888;
  font-size: 13px;
  background: #eee;
}
#footer .separator {
  color: #aaa;
}

.login_box {
  margin: 0 20px 20px 20px;
}
.login_box p {
  margin-right: 15px;
}
.login_box input.text {
  width: 265px;
  margin-bottom: 5px;
}
input#openid_url, input#user_openid_url {
  background: #fff image-url('b3s/mobile/login_openid.gif') no-repeat 3px 4px;
  padding-left: 20px;
  width: 252px;
}

.login_box input#openid_url {

}

.login_box label {
  font-weight: normal;
  font-size: 18px;
  color: #555 ;
}

#login-functions {
  margin: 0 20px;
  font-size: 15px;
  color: #aaa;
  text-align: center;
}
body[orient="landscape"] #login-functions {
  text-align: left;
}
body[orient="landscape"] #login-functions .separator {
  display: none;
}

input, textarea {
  font-size: 15px;
}


label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 13px;
}

.content p {
  margin-bottom: 0.5em;
}

.content {
  background: #fff image-url('b3s/mobile/contentbg.gif') repeat-x;
  padding: 25px 0 10px 0;
  min-height: 285px;
    -webkit-user-select: auto;
}

.page_content {
  padding: 0 15px;
}
.page_content textarea {
  width: 275px;
  height: 80px;
}
body[orient="landscape"] .page_content textarea {
  width: 435px;
}


.pagination {
  padding: 5px 10px;
  color: #888;
  border-bottom: 1px solid #ddd;
  background: #f8f8f8;
}
.pagination .links {
  float: right;
  font-weight: bold;
  word-spacing: 5px;
}


.discussions, .conversations {
  margin-top: -25px;
}
.discussion, .conversation {
  padding: 8px 10px 5px 10px;
  border-bottom: 1px solid #ddd;
  color: #555;
}
.discussions .discussion {
  background: #fff image-url('b3s/mobile/contentbg_light.gif') bottom left repeat-x;
}

.discussion .new_posts_count {
  float: right;
  color: #c76700;
  font-size: 11px;
  letter-spacing: -0.05em;
  padding-top: 3px;
}
.discussion h2, .conversation h2 {
  font-weight: normal;
  font-size: 16px;
    width: 255px;
  line-height: 1.2;
  margin-bottom: 1px;
}
.discussion h2 a, .conversation h2 a {
  color: #000;
}

.conversation h2 {
    width: 200px;
}
body[orient="landscape"] .discussion h2 {
    width: 415px;
}
body[orient="landscape"] .conversation h2 {
  width: 360px;
}
.discussion h2 .labels {
  color: #888;
  font-size: 11px;
  letter-spacing: -0.05em;
}
.discussion p, .conversation p {
  font-size: 10px;
    overflow: hidden;
    width: 290px;
    text-overflow: ellipsis;
    white-space: nowrap;
  margin: 0;
}
.conversation p {
  font-size: 12px;
}
body[orient="landscape"] .discussion p, body[orient="landscape"] .conversation p {
    width: 450px;
}

.discussions .new_posts, .conversations .new_posts {
  background: #fffde8;
  background: #fffde8 image-url('b3s/mobile/contentbg_light_new_posts.gif') bottom left repeat-x;
  border-bottom: 1px solid #E4DDB5;
}

.conversation .last_message_date {
  float: right;
  color: #888;
  font-size: 10px;
}

.posts {
  margin-top: -20px;
}

.posts .discussion {
  background: #eee;
}


.posts .post {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.posts .post_distance {
  padding: 2px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 11px;
  background: #f8f7f1;
  color: #84806d;
}
.posts .me_post {
  background: #f8f7f1;
  color: #220;
}
.posts .me_post .body .poster {
  color: #763047;
  text-decoration: none;
  font-weight: bold;
}
.posts .me_post .date {
  color: #84806d;
  font-size: 11px;
}
.posts .post .post_edited {
  color: #84806d;
  font-size: 11px;
}
.posts .post .post_info {
  float: left;
  color: #555;
}
.posts .post .post_info .permalink {
  display: none;
}
.posts .post .post_info .username {
  font-weight: bold;
}
.posts .post .post_info .date {
  font-size: 11px;
}

.post .functions {
  float: right;
  font-size: 11px;
  padding-top: 5px;
  color: #ddd;
}
.post .functions a, .post .functions a:visited {
  color: #aaa;
}

.posts .post .body {
  max-width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  clear: both;
}

.post .body h1,
.post .body h2,
.post .body h3,
.post .body h4,
.post .body h5,
.post .body h6,
.post .body p,
.post .body ul,
.post .body ol {
  margin-bottom: 10px;
}

/* Ugly, but works for now */
.post .body p:first-child {
  margin-top: 0px;
}
.post .body p:last-child {
  margin-bottom: 0px;
}

.post .body h1 {
  font-size: 1.6em;
  font-weight: bold;
}
.post .body h2 {
  font-size: 1.4em;
  font-weight: bold;
}
.post .body h3 {
  font-size: 1.3em;
  font-weight: bold;
}
.post .body h4 {
  font-size: 1.3em;
}
.post .body h5 {
  font-size: 1.2em;
}
.post .body h6 {
  font-size: 1.1em;
}
.post .body ul, .post .body ol {
  margin-left: 25px;
}
.post .body ul {
  list-style-type: disc;
  list-style-position: outside;
}
.post .body ol {
  list-style-type: decimal;
  list-style-position: outside;
}
.post .body ul p,
.post .body ul ul,
.post .body ul ol,
.post .body ol p,
.post .body ol ul,
.post .body ol ol {
  margin-bottom: 0px;
}
.post .body code, .post .body pre.highlight {
  font-family: Courier, monospace;
  font-size: 12px;
}
.post .body code {
  background: #f4f2f0;
}
.post .body pre {
  margin: 8px 0px;
}
.post .body pre > code {
  display: block;
  background: #f4f2f0;
  overflow: scroll;
  padding: 8px;
}
.post .body pre.highlight {
  overflow: scroll;
}

.fb_iframe_widget {
  max-width: 100%;
}
.fb_iframe_widget iframe {
  width: 100%;
}

.post .body .instagram-wrapper {
  width: 100%;
  padding-top: 98px;
  padding-bottom: 100%;
  max-width: 612px;
  min-width: 300px;
  position: relative;
}
.post .body .instagram-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.posts .post .body a, .posts .post .body a:visited {
  color: #364077;
  text-decoration: underline;
}

.user_profile {
  margin-top: -10px;
}

table.userinfo {
  clear: both;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  width: 100%;
}
table.userinfo th, table.userinfo td {
  border-bottom: 1px solid #ddd;
  padding: 3px 0;
}
table.userinfo th {
  padding-right: 15px;
}


.avatar-image {
  width: 48px;
  height: 48px;
}
.avatar {
  margin-left: 60px;
  margin-bottom: 10px;
}
.avatar h2 {
  font-size: 18px;
  font-weight: bold;
}
.avatar img {
  float: left;
  margin-left: -60px;
}

.users_list {
  margin-top: -20px;
  width: 100%;
}
.users_list th {
  font-size: 13px;
  font-weight: bold;
  color: #888;
}
.users_list th, .users_list td {
  border-bottom: 1px solid #ddd;
  padding: 3px 0px 3px 15px;
}
.users_list .last_active {
  color: #888;
  font-size: 11px;
  padding-right: 15px;
}


blockquote {
  margin: 0;
  padding: 5px 10px;
  background: #F3F1E9;
  color: #3C392C;
  border: 1px solid #DEDCD4;
  border-left: 2px solid #CCC9BC;
  font-size: 13px;
  font-style: italic;
}
/* Posted by.. inside blockquotes */
blockquote cite {
  display: block;
  color: #7E7B70;
  border-bottom: 1px solid #CCC9BC;
  margin-bottom: 5px;
}


/* -----------------------------------------------------------------------
   SPOILERS
   ----------------------------------------------------------------------- */

.spoiler {
  padding: 5px;
}

.spoiler:after {
  padding: 5px;
  font-size: 1em;
}

.spoiler.revealed:after {
  left: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}


/* -----------------------------------------------------------------------
   RICH TEXT EDITOR
   ----------------------------------------------------------------------- */

.reply {
  padding: 15px 10px 5px 10px;
}
textarea.rich {
  width: 98%;
  max-width: 650px;
  height: 180px;
  margin: 0 auto;
  border: 1px solid #d7d7d7;
  border-radius: 0px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
}
.richTextToolbar {
  position: relative;
  list-style: none;
  border: 1px solid #d7d7d7;
  border-bottom: 0px;
  background-color: #fafafa;
  margin: 0;
  padding: 0px 2px;
  height: 30px;
  margin-bottom: 0px;
  width: 98%;
  max-width: 650px;
}
.richTextToolbar li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.richTextToolbar .formatting {
  float: right;
}
.richTextToolbar .button {
  float: left;
}
.richTextToolbar .button:first-child {
  margin-left: -2px;
}
.richTextToolbar .button a,
.richTextToolbar .formatting a {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  cursor: pointer;
}
.richTextToolbar .button a {
  width: 26px;
  float: left;
  border-left: 1px solid #fff;
  border-right: 1px solid #d7d7d7;
  color: #555;
  font-size: 12px;
  background-color: #F6F6F6;
}
.richTextToolbar .formatting a {
  font-size: 11px;
  float: right;
  width: 60px;
  text-align: center;
}
.richTextToolbar .button span {
  display: none;
}

/* Retina display overrides */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #header {
    background: #111 image-url('b3s/mobile/header_x2.png');
    background-size: 480px 45px;
  }
  #header h1.page_title .site_name, #header h1.page_title .site_name a, #header h1.page_title .site_name a:visited {
    background: transparent image-url('b3s/mobile/b3slogo_x2.png');
    background-size: 49px 45px;
  }
  .content {
    background: #fff image-url('b3s/mobile/contentbg_x2.png') repeat-x;
    background-size: 23px 24px;
  }
  .imageloader {
    background: transparent image-url('b3s/mobile/imageloader_x2.png') no-repeat;
    background-size: 290px 36px;
  }
  .discussions .discussion {
    background: #fff image-url('b3s/mobile/contentbg_light_x2.png') bottom left repeat-x;
    background-size: 23px 12px;
  }
  .discussions .new_posts, .conversations .new_posts {
    background: #fffde8 image-url('b3s/mobile/contentbg_light_new_posts_x2.png') bottom left repeat-x;
    background-size: 240px 12px;
  }
}
