@import 'default/screen';

$link-color: #9f0000;
$link-color-hover: #460000;

body {
  background-image: image-url('b3s/header_bg_breathe.jpg');
}

#header h1 {
  display: none;
}

a, a:visited {
  text-decoration: none;
}

a, a:visited,
#account,
#account a,
#account a:visited,
.me_post .body a.poster,
.me_post .body a.poster:visited {
  color: $link-color;
}

a:hover, #account a:hover,
#sidebar .categories li.current a {
  color: $link-color-hover;
}

#account {
  a, a:visited {
    font-weight: bold;
    text-decoration: underline;
  }
}

/* Top tabs */
#navigation li {
  a, a:visited {
    background: #9d5178 image-url('b3s/tab_bg.gif') repeat-x;
    border: 1px solid #854155;
    border-bottom: 1px solid #c67b6a;
    color: #fff;
  }
  a:hover {
    background: #9d5178 image-url('b3s/tab_hover_bg.gif') repeat-x;
    color: #fff;
  }

  &.current {
    a, a:visited {
      background: #f9f9f9 image-url('b3s/tab_current_bg.gif') repeat-x;
      color: #000;
      border: 1px solid #c67b6a;
      border-bottom: 1px solid #f9f9f9;
    }
  }

  &.new {
    a, a:visited {
      background: #d14b40 image-url('b3s/tab_new_messages_bg.gif') repeat-x;
      color: #fff;
      border: 1px solid #c24236;
      border-bottom: 1px solid #c98175;
    }
    a:hover {
      background: #d14b40 image-url('b3s/tab_new_messages_hover_bg.gif') repeat-x;
    }
  }
}

/* Other colors*/
.tabbed_navigation li.active a,
#reply-tabs li.active a,
.topTabs li.active a {
  background: $link-color;
}

.topTabs li.active a {
  border: 1px solid $link-color;
}

.ac_results .ac_over {
  background-color: $link-color;
  color: #fff;
}
