<div class="compose" id="compose">
  <ul id="reply-tabs" class="tabs">
    <li class="tab" id="write-tab">
      <a href="#replyText">
        Write
      </a>
    </li>
  </ul>

  <%# Text reply %>
  <div id="replyText">
    <%= form_for([exchange, exchange.posts.new],
                 html: {
                   class: (posts.last_page? ? 'livePost' : nil),
                   data: {
                     preview_url: polymorphic_path([:preview, exchange, :posts])
                   }
                 }) do |f| %>
      <%= f.hidden_field(:format, class: "format") %>
      <p>
        <%= f.text_area(:body,
                        id: "compose-body",
                        class: "rich",
                        data: {
                          format_binding: ".format",
                          formats: "markdown html",
                          remember_format: true
                        }) %>
      </p>
      <p id="button-container">
        <span class="status"></span>
        <button type="submit">
          Post
        </button>
        <button type="button" class="preview">
          Preview
        </button>
      </p>
    <% end %>
  </div>
</div>
