<%
  add_body_class "edit_discussion discussion_form"
  @page_title = @exchange.title
%>

<h2 class="section">
  <%= link_to @exchange.title, @exchange %> &raquo;
  <%= link_to "Edit", [:edit, @exchange] %>
</h2>

<%= form_for @exchange, builder: Sugar::FormBuilder do |f| %>
  <%= render partial: "exchanges/form", locals: { f: f } %>
  <p>
    <button type="submit">
      Save
    </button>
  </p>
<% end %>
