# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

/db/dis

# Ignore all logfiles and tempfiles.
/log/*.log
/log/sunspot-solr*
/public/cache
/tmp

# Ignore local Ruby version
.ruby-version

# Ignore generated documentation
coverage/*
doc

# Ignore Sunspot/Solr files
sunspot-solr.pid
solr/default
solr/development
solr/test
solr/data
solr/pids

# Ignore Capistrano configuration
config/deploy.rb
config/deploy/*.rb

# Ignore NewRelic configuration
config/newrelic.yml

# Ignore zipped themes
public/themes/*.zip
