version: '2.4'

x-app: &app
  build:
    context: .dockerdev
    dockerfile: Dockerfile
    args:
      RUBY_VERSION: '2.7.1'
      PG_MAJOR: '13'
      NODE_MAJOR: '14'
      YARN_VERSION: '1.22.5'
      BUNDLER_VERSION: '2.1.4'
  environment: &env
    NODE_ENV: development
    # RAILS_ENV: ${RAILS_ENV:-development}
  image: sugar-dev:1.0.0
  tmpfs:
    - /tmp

x-backend: &backend
  <<: *app
  stdin_open: true
  tty: true
  volumes:
    - .:/app:cached
    - rails_cache:/app/tmp/cache
    - bundle:/usr/local/bundle
    - node_modules:/app/node_modules
    - packs:/app/public/packs
    - .dockerdev/.psqlrc:/root/.psqlrc:ro
    - .dockerdev/.bashrc:/root/.bashrc:ro
  environment:
    <<: *env
    REDIS_URL: redis://redis:6379/
    BOOTSNAP_CACHE_DIR: /usr/local/bundle/_bootsnap
    WEBPACKER_DEV_SERVER_HOST: webpacker
    WEB_CONCURRENCY: 1
    HISTFILE: /app/log/.bash_history
    PSQL_HISTFILE: /app/log/.psql_history
    EDITOR: vi
    SOLR_HOST: solr
    SOLR_PORT: 8983
    SUGAR_DB: postgresql
    SUGAR_DB_USERNAME: postgres
    SUGAR_DB_PASSWORD: postgres
    SUGAR_DB_HOST: postgres
  depends_on:
    postgres:
      condition: service_healthy
    redis:
      condition: service_healthy
    solr:
      condition: service_started

services:
  # runner:
  #   <<: *backend
  #   command: /bin/bash
  #   ports:
  #     - '3000:3000'
  #     - '3002:3002'

  rails:
    <<: *backend
    command: bin/rails server -b 0.0.0.0
    ports:
      - '3000:3000'
      - '3002:3002'

  sidekiq:
    <<: *backend
    command: bundle exec sidekiq -C config/sidekiq.yml

  postgres:
    image: postgres:13
    volumes:
      - .dockerdev/.psqlrc:/root/.psqlrc:ro
      - postgres:/var/lib/postgresql/data
      - ./log:/root/log:cached
    environment:
      PSQL_HISTFILE: /root/log/.psql_history
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1
      interval: 5s

  redis:
    image: redis:6.0-alpine
    volumes:
      - redis:/data
    ports:
      - 6379
    healthcheck:
      test: redis-cli ping
      interval: 1s
      timeout: 3s
      retries: 30

  solr:
    image: solr:8
    ports:
      - 8983
    volumes:
      - ./solr/init:/docker-entrypoint-initdb.d/
      - solr:/var/solr
    # healthcheck:
    #   test: >-
    #     curl -s -A 'healthcheck'  http://localhost:8983/solr/test/admin/ping?wt=json \
    #     | grep -q '"status":"OK"'
    #   interval: 5s
    #   timeout: 5s
    #   retries: 5

# webpacker:
  #   <<: *app
  #   command: ./bin/webpack-dev-server
  #   ports:
  #     - '3035:3035'
  #   volumes:
  #     - .:/app:cached
  #     - bundle:/usr/local/bundle
  #     - node_modules:/app/node_modules
  #     - packs:/app/public/packs
  #   environment:
  #     <<: *env
  #     WEBPACKER_DEV_SERVER_HOST: 0.0.0.0

volumes:
  postgres:
  redis:
  bundle:
  node_modules:
  rails_cache:
  packs:
  solr:
