<% 
	add_body_class "discussions conversations"
	@page_title = "Conversations" 
%>

<% sidebar do %>
	<%= render :partial => 'discussions/sidebar'%>
<% end %>

<div class="functions">
	<%= link_to "New conversation", new_conversation_path, :class => :add %>
</div>

<h2 class="section"><%= link_to "Conversations", conversations_discussions_path %></h2>

<%= render :partial => 'discussions/table', :locals => {
	:discussions    => @discussions,
	:no_discussions => "You don't have any conversations!"
} %>

