<% 
	add_body_class "discussions favorite_discussions"
	@page_title = "Favorite Discussions" 
%>

<div class="functions">
	<%= link_to "New Discussion +", new_discussion_path, :class => :create %>
</div>
<h2 class="section"><%= link_to "Favorite Discussions", favorites_discussions_path %></h2>

<%= render :partial => 'discussions/table', :locals => {
	:discussions    => @discussions,
	:no_discussions => "You haven't marked any discussions as favorites!"
} %>

