<%
  add_body_class "discussions hidden_discussions"
  @page_title = "Hidden Discussions"
%>

<%= content_for :sidebar do %>
  <%= render partial: "discussions/sidebar" %>
<% end %>

<h2 class="section">
  <%= link_to "Hidden Discussions", hidden_discussions_path %>
</h2>

<%= render partial: "exchanges/table", locals: {
  exchanges:    @exchanges,
  no_exchanges: "You haven't hidden any discussions."
} %>
