<% 
	add_body_class "discussions all_discussions"
	@page_title = "All Discussions" 
%>

<div class="functions">
	<%= link_to "New Discussion +", new_discussion_path, :class => :create %>
</div>
<h2 class="section"><%= link_to "Discussions", discussions_path %></h2>

<%= render :partial => 'discussions/table', :locals => {:discussions => @discussions} %>

