<% 
	add_body_class "new_discussion discussion_form"
	@page_title = "New discussion" 
%>

<h2 class="section"><%= link_to "Discussions", discussions_path %> &raquo; <%= link_to "New", new_discussion_path %></h2>

<% form_for(@discussion) do |f| %>
	<%= render :partial => 'discussion_form', :locals => {:f => f} %>
	<p><button type="submit">Create discussion</button></p>
<% end %>