<% @page_title = "Title Search" %>

<h2 class="section">Searching titles for <em><%= @search_query %></em></h2>

<% if @discussions %>
	<%= render :partial => 'discussions/table', :locals => {:discussions => @discussions} %>
<% else %>
	<p>No discussions were found.</p>
<% end %>

<!-- Search performed in <%= @search_time %> seconds -->