<p class="search_tips">
	<strong>Search tips:</strong>
	To search for an exact phrase, use double quotes: <span class="example">"hello world"</span>. 
	For partial word matches, use an asterisk: <span class="example">"hello worl*"</span>.
	A vertical bar lets you find entries containing either word: <span class="example">hello | world</span>.
	To exclude a word, use a minus symbol: <span class="example">hello -world</span>.
</p>

