<% content_for(:body_class, "users") %>
<% content_for(:page_title, "User links") %>

<table class="list user-links-list">
  <tr>
    <th>Type</th>
    <th>Count</th>
  </tr>
  <% @labels.each do |label| %>
    <tr>
      <td class="label">
        <%= link_to(label, user_links_path(type: label)) %>
      </td>
      <td>
        <%= UserLink.active.with_label(label).count %>
      </td>
    </tr>
  <% end %>
</table>
