<%
  add_body_class "discussions all_discussions conversations"
  @page_title = "Conversations"
%>

<%= render partial: "exchanges/table", locals: {exchanges: @exchanges} %>

<p>
  <%= link_to "Contact moderators", contact_moderators_path %>
</p>
