@charset "UTF-8";
/**
 * me3s style.css
 * butt3rscotch.org css theme
 *
 * @version r119
 */
 
/********************************************
 * Base page
 */

html, body {
	background:	#b0b5bb;
	color:		#000;
	font:		12px/1.5em Arial, Helvetica, sans-serif;
	margin:		0;
	padding:	0;
	width:		100%;
}
	html { height: 100%; }
	body { min-height: 100%; }
	
a, a:visited {
	border-bottom:		1px dotted #8AC;
	color:				#333538;
	text-decoration:	none;
}
	a:hover {
		border-bottom:	1px dotted #C43;
		color:			#222;
	}

input, select, textarea, button {
	background:			#FFF;
	color:				#000;
	font:				12px/1.5em Arial, Helvetica, sans-serif;
	-webkit-appearance: none;
}
	input:focus, select:focus, textarea:focus, button:focus {
		outline:	0 none;
	}
	input { padding: .5em; }
	textarea {
		border:					1px solid #999;
		height:					200px;
		padding:				0.5em;
		width:					60%;
		-moz-border-radius: 	8px;
		-webkit-border-radius: 	8px;
	}

/********************************************/

/********************************************
 * General page setup
 */

/* Content holder */
#content { padding: 67px 0 33px; }

/* notices */
.notice {
	background:				#FFF;
	border:					3px solid #D0D0D0;
	bottom:					45px;
	color:					#000;
	font-size:				11px;
	font-weight:			bold;
	padding:				1px 20px;
	position:				fixed;
	right:					10px;
	-moz-border-radius: 	8px;
	-webkit-border-radius:	8px;
	-moz-opacity:			0.90;
	opacity:				0.90;
	filter: 				alpha(opacity = 90);
	-webkit-box-shadow:		0 1px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 		0 1px 3px rgba(0, 0, 0, .5);
}

/* Side Tabs */
.topTabs {
	position:		fixed;
	list-style:		none;
	margin:			0;
	padding:		0;
	width:			174px;
	top:			67px;
	left:			0;
}
	.topTabs li {
		padding:	0;
		margin:		0;
	}
		.topTabs li a {
			display:		block;
			border-top:		1px solid #f3f4f5;
			border-bottom:	1px solid #c7ccd1;
			color:			#555;
			font-weight:	bold;
			padding:		7px 10px 7px 40px;
			text-shadow:	0 1px 0 rgba(255, 255, 255, 1);
		}
	.topTabs li.active {
		background:		url(images/activetab_bg.gif?6) repeat-x!important;
	}
		.topTabs li.active a {
			border-top:		1px solid #bcc6d0;
			border-bottom:	1px solid #677482;
			color:			#FFF;
			text-shadow: 	0 1px 0 rgba(0, 0, 0, 0.3);
		}
	.topTabs li:hover {
		background-color: #E0E0E0;
	}

/********************************************/

/********************************************
 * Control bar
 */
 
#header {
	background:	#3d4147 url(images/control_bar_bg.png?6) repeat-x;
	height:		32px;
	left:		0;
	position:	fixed;
	top:		0;
	width:		100%;
	z-index:	99999;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

	/* Site ID */
	#header h1 {display:none;}
	
	/* Anchors */
	#header a {
		border:			0;
		border-left:	1px solid #444;
		border-right:	1px solid #444;
		color:			#a3a7aa;
		display:		block;
		float:			left;
		font-weight:	normal;
		font-size:		12px;
		padding:		6px 12px;
		text-shadow:	0 1px 0 rgba(0, 0, 0, 0.9);
	}
	#header a:hover {
		background: 	#141a20;
		border-bottom:	0;
		color:			#FFF;
		-moz-opacity:	0.45;
		opacity:		0.45;
		filter: 		alpha(opacity = 45);
	}

/* Search Bar */
#search {
	background:		url(images/search_bg.png?6) 8px 0 no-repeat;
	border-left:	1px solid #444;
	height:			21px;
	overflow:		hidden;
	padding:		2px 3px 3px 15px;
	position:		absolute;
	right:			-30px;
	top:			5px;
}

	/* hide form elements */
	#search input { display: none; }
	
	/* query box */
	#search input.query {
		background:		transparent;
		border:			0;
		color:			#CCC;
		display:		inline;
		margin:			0 3px 0 0;
		padding:		0 2px 0 17px;
		text-shadow:	0 1px 0 rgba(0, 0, 0, 0.8);
		width:			110px;
	}
		#search input.query:focus {
			border:		0;
			outline:	0 none;
		}
	
	/* search type select */
	#search select {
		background:			transparent;
		border:				0;
		color:				#AAA;
		margin:				0;
		padding:			0;
		width:				100px;
		text-shadow:		0 1px 0 rgba(0, 0, 0, 0.8);
		-webkit-appearance:	none;
	}
		#search select:focus {
			border:		0;
			outline:	0 none;
		}
		/*end*/
		/*\*/
		html*div#header div#search select {margin-left:6px;}	/* safari hack to fix position */

		#search select option { 
			color:			#000;
			background: 	#FFF;
			text-shadow:	0 0;
		}

/* Account info */
#account {
	border-left:	1px solid #222529;
	position:		fixed;
	top:			0;
	right:			224px;
	color:			transparent;
	height:			30px;
	font-size:		0;
}
	#account a {
		border:			0;
		border-right:	1px solid #222529;
		border-left:	1px solid #444;
	}

/* Main navigation */
#navigation {
	list-style:	none;
	margin:		0;
	padding:	0;
	position:	absolute;
	left:		-1px;
	top:		0;
}
	#navigation li {
		border-right:	1px solid #222529;
		display:		block;
		height:			30px;
		float:			left;
		margin:			0;
		padding:	0;
	}
	
		/* Current section indicator */
		#navigation li.current {
			background: url(images/control_bar-active.gif?6) bottom no-repeat;
		}
	
	/* New mail indicator */
	#navigation li.new_messages {
		background: url(images/control_bar-new_messages.gif?6) top no-repeat;
	}

/********************************************/

/********************************************
 * Section bar
 */

h2.section {
	background:		#dfe1e3;
	border-bottom:	1px solid #999;
	color:			transparent;
	font-weight:	normal;
	font-size:		0;
	left:			0;
	margin:			0;
	padding:		0;
	position:		fixed;
	top:			32px;
	width:			100%;
	z-index:		999;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
	h2.section a {
		border:			0;
		border-left: 	1px solid #CCC;
		color:			#888;
		display:		block;
		float:			left;
		font-size:		16px;
		padding:		8px 10px;
	}
		h2.section a:last-child {color:#434D5E;}
		h2.section a:hover {
			border-bottom: 	0;
			color:			#333;
		}

/********************************************/

/********************************************
 * Page functions
 */

.functions {
	color:		transparent;
	font-size:	0;
	position:	fixed;
	right:		10px;
	top:		38px;
	width:		400px;
	z-index:	99999;
}
	.functions a {
		background:		#FFF url(images/functions_bg.gif?6) bottom repeat-x;
		border:			1px solid #b3b3b3;
		color:			#666;
		display:		block;
		float:			right;
		font-size:		11px;
		font-weight:	bold;
		margin:			0 2px 0 0;
		padding:		1px 10px;
		text-shadow:	0 1px 0 rgba(255, 255, 255, 1);
	}
		.functions a:hover {
			background:	#fafafa;
			border:		1px solid #999;
			color:		#333;
		}

/********************************************/

/********************************************
 * Pagination bar
 */
 
.pagination {
	background:	#f0f1f3;
	border-top:	1px solid #AAA;
	color:		#666;
	font-size:	11px;
	left:		0;
	margin:		0;
	padding:	7px 11px;
	position:	fixed;
	bottom:		0;
	width:		100%;
	z-index:	9999;
}
	.pagination span {font-weight:bold;}
	.pagination .links {
		display:	inline;
		margin:		0 5px 0 0;
	}
		.pagination .links a {
			background:		#FFF url(images/functions_bg.gif?6) bottom repeat-x;
			border: 		1px solid #b3b3b3;
			color:			#666;
			display:		inline;
			font-weight:	bold;
			margin:			0;
			padding:		2px 6px;
			text-shadow:	0 1px 0 rgba(255, 255, 255, 1);
		}
			.pagination .links a:first-child {
				-moz-border-radius: 				5px 0 0 5px;
				-webkit-border-top-left-radius: 	5px;
				-webkit-border-bottom-left-radius: 	5px;
			}
			.pagination .links a:last-child {
				-moz-border-radius: 				0 5px 5px 0;
				-webkit-border-top-right-radius: 	5px;
				-webkit-border-bottom-right-radius:	5px;
			}
			.pagination .links a:hover {
				border: 	1px solid #999;
				background:	#fafafa;
				color:		#333;
			}

/********************************************/

/********************************************
 * Discussions list
 */

table.discussions {
	border-collapse:	collapse;
	margin:				0;
	width:				100%;
}
	table.discussions span.labels { display: none; }
	table.discussions tr {}
		table.discussions tr td {
			background:		#FFF;
			border-bottom:	1px solid #EEE;
			color:			#BBB;
			padding:		0 10px 10px 0;
		}
			table.discussions tr td a {
				border:	0;
				color:	#BBB;
			}
				table.discussions tr td a:hover {
					border-bottom:	1px dotted #C43;
					color: 			#222				!important;
				}
		
		/* Defaults for thread titles */
		table.discussions tr td.name {
			border-bottom:	0;
			font-size:		15px;
			letter-spacing:	.25px;
			line-height:	19px;
			padding:		12px 0 0 50px;
		}
			table.discussions tr td.name a { color: #888; }
			
		table.discussions tr td.category {padding:0 10px 12px 50px;}
		table.discussions tr td:first-child { padding-left: 50px; }
		
		/* make thread title darker if there are new posts */
		table.discussions tr.new_posts td.name a { color: #333538; }
		
	/* Thread Icons */
	table.discussions tr td.name {
		background: #FFF url(images/icon-thread.png?6) 20px 15px no-repeat;
	}
	table.discussions tr.new_posts td.name {
		background: #FFF url(images/icon-new_posts.png?6) 20px 15px no-repeat;
	}
	table.discussions tr.sticky td.name {
		background: #FFF url(images/icon-sticky.png?6) 20px 16px no-repeat;
	}
	table.discussions tr.nsfw td.name {
		background: #FFF url(images/icon-nsfw.png?6) 20px 15px no-repeat;
	}
	table.discussions tr.trusted td.name {
		background: #FFF url(images/icon-trusted.png?6) 20px 15px no-repeat;
	}
	table.discussions tr.closed td.name {
		background: #FFF url(images/icon-closed.png?6) 20px 15px no-repeat;
	}

/********************************************/

/********************************************
 * Posts
 */
 
.posts {
	background:			#FFF url(images/post_bg.gif?6) repeat-y;
	-moz-box-shadow: 	0 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.post {
	background:		#FFF url(images/post_bg.gif?6) repeat-y;
	border-bottom:	1px solid #cacdd0;
	margin:			0;
	min-height:		57px;
	padding:		0;
}
	.post:last-child { 
		border-bottom: 1px solid #777;
	}

	/* Post title (for messages and profile view) */
	.post .title {
		background: 			#aeb1b5 url(images/darkgrey_gradient.gif?6) bottom repeat-x;
		border:					1px solid #888;
		border-right:			0;
		border-left:			0;
		color:					#FFF;
		font-size: 				12px;
		font-weight:			bold;
		margin:					0;
		padding: 				4px 10px;
		text-shadow: 			0 1px 1px rgba(0, 0, 0, 0.7);
	}
		.post .title .labels { display: none; }
		.post .title a {
			background:		url(images/circlearrow_right.png?6) left no-repeat;
			border:			0;
			color:			#FFF;
			font-weight:	bold;
			padding-left:	25px;
		}
		.post .title small {
			color:			#444;
			display:		block;
			font-weight:	normal;
			line-height:	1.5em;
			padding-left:	25px;
			text-shadow:	0 0;
		}
			.post .title small a {
				background: transparent;
				color:		#444;
				padding:	0;
			}

	/* Post functions (quote, PM, edit) */
	.post .post_functions {
		color:		transparent;
		float:		right;
		font-size:	0;
		padding:	10px;
		width:		200px;
	}
		.post .post_functions a {
			background:		#FFF url(images/functions_bg.gif?6) bottom repeat-x;
			border: 		1px solid #D3D3D3;
			color:			#AAA;
			display:		block;
			float:			right;
			font-size:		11px;
			font-weight:	bold;
			margin:			0 2px 0 0;
			padding:		1px 10px;
		}
			.post .post_functions a:hover {
				background: #fafafa				!important;
				border:		1px solid #999		!important;
				color:		#333				!important;
			}

			/* edit link should stand out */
			.post .post_functions a.edit_post {
				background:	url(images/lightgrey_gradient.gif?6) top repeat-x;
				border:		1px solid #b3b3b3;
				color:		#666;
			}
	
	/* poster info */
	.post .post_info {
		border-top:		1px solid #f1f1f1;
		float:			left;
		line-height:	1.25em;
		width:			174px;
	}
	
		/* user avatar */
		.post .post_info .avatar {
			border:					1px solid #CCC;
			float:					left;
			height:					36px;
			margin:					9px 10px 0 10px;
			width:					36px;
			-moz-border-radius: 	3px;
			-webkit-border-radius: 	3px;
		}
			.post .post_info .avatar img {
				border: 				2px solid #FFF;
				background:				#FFF;
				height:					32px;
				width:					32px;
				-moz-border-radius: 	3px;
				-webkit-border-radius: 	3px;
			}
			
		/* user name */
		.post .post_info .username {
			display:	block;
			padding:	10px 0 0;
		}
		
		/* post date */
		.post .post_info .date {
			color:		#888;
			font-size:	10px;
		}
		
		/* permanent link */
		.post .post_info .permalink {
			font-size:	10px;
		}
	
	/* post body */
	.post .body {
		font-size:	13px;
		padding:	10px;
		margin:		0 0 0 180px;
		width:		60%;
	}
	
		/* Clear floats at the end of a post */
		.post .body:after {
			content:	'.';
			clear:		left; 
			display:	block; 
			height:		0;
			overflow:	hidden;
			visibility:	hidden;
		}

/********************************************/

/********************************************
 * /me posts get special treatment
 */
 
.me_post {
	min-height:		40px;
	margin-top:		-1px;
	padding:		3px 7px;
	border-bottom:	0;
}
	.me_post + .post .post_info { border-top: 0; }
	.me_post .post_functions { 
		padding: 9px;
		position: relative;
		z-index: 99;
	}
	.me_post .me_post_content {
		background:				#FFF;
		border:					1px solid #AAA;
		color:					#000;
		min-height:				22px;
		padding:				8px;
		-moz-opacity:			0.90;
		opacity:				0.90;
		filter: 				alpha(opacity = 90);
		-moz-border-radius: 	8px;
		-webkit-border-radius:	8px;
		-webkit-box-shadow:		0 2px 2px rgba(0, 0, 0, .15);
		-moz-box-shadow: 		0 2px 2px rgba(0, 0, 0, .15);
	}
	.me_post .avatar {
		float:					left;
		height:					20px;
		width:					20px;
		-moz-border-radius: 	8px 0 8px 0;
		-webkit-border-radius: 	3px;
	}
		.me_post .avatar img {
			border: 				1px solid #CCC;
			background:				#FFF;
			height:					16px;
			padding:				2px;
			width:					16px;
			-moz-border-radius: 	3px;
			-webkit-border-radius: 	3px;
		}
	.me_post .body {
		margin:			0 0 0 25px;
		padding:		0 5px;
		width:			auto;
	}
		.me_post .body .poster { font-weight: bold; }
	.me_post .date {
		color:			#999;
		font-size:		10px;
	}

/********************************************/

/********************************************
 * General post content
 */

.post code {
	background:				#FFE;
	border:					1px solid #FEA;
	display:				block;
	padding:				10px;
	white-space:			pre;
	-moz-border-radius: 	8px;
	-webkit-border-radius: 	8px;
}

.post blockquote {
	background:				#eff1f3;
	border:					1px solid #CCC;
	margin:					0;
	padding:				10px;
	width:					90%;
	-moz-border-radius: 	8px;
	-webkit-border-radius: 	8px;
}
	.post blockquote cite {
		background:							url(images/lightgrey_gradient.gif?6) top repeat-x;
		display:							block;
		margin:								-11px -11px 10px;
		padding:							3px 10px;
		-moz-border-radius: 				8px 8px 0 0;
		-webkit-border-top-left-radius: 	8px;
		-webkit-border-top-right-radius: 	8px;
	}

/* make it less obvious that a post has been edited */
.post .edited {
	color:		#CCC;
	font-size:	10px;
	padding:	5px 0 0;
}

/********************************************/

/********************************************
 * Post listing misc
 */

/* When significant time elapses from one post to another */
.post_distance {
	background:		#8798a9 url(images/darkblue_gradient.gif?6) top repeat-x;
	border-top:		1px solid #999;
	border-bottom:	1px solid #AAA;
	color:			#fff;
	font-size:		11px;
	font-weight:	bold;
	padding:		0 10px 2px;
	text-shadow:	0 1px 1px rgba(0, 0, 0, 0.7);
}

/* the new posts have been added indicator */
#newPosts {
	color:			#dee0e4;
	display:		none;
	background:		url(images/darkgrey_gradient.gif?6) top repeat-x;
	border-top:		1px solid #999;
	border-bottom:	1px solid #666;
	font-weight:	bold;
	padding:		1px 10px 3px;
	margin:			0;
	text-shadow:	0 1px 0 rgba(0, 0, 0, 0.4);
}
	#newPosts p {
		background: url(images/icon-alert.png) 5px no-repeat;
		margin:		0;
		padding:	0 0 0 25px;
	}
	#newPosts a {
		color:		#FFF;
	}

/* thread-specific bread-crumby functions like 'back to discussions */
.bottomlinks {
	color:			transparent;
	background:		#eff1f3;
	border-left:	1px solid #DDD;
	bottom:			0;
	height:			32px;
	font-size:		0;
	margin:			0;
	padding:		0;
	position:		fixed;
	right:			-11px;
	z-index:		9999;
}
	.bottomlinks a {
		background:		url(images/circlearrow_left.png?6) 10px no-repeat;
		border:			0;
		border-right:	1px solid #DDD;
		border-left:	1px solid #FFF;
		color:			#AAA;
		float:			left;
		font-size:		11px;
		font-weight:	bold;
		padding:		7px 20px 7px 33px;
		text-shadow:	0 1px 0 rgba(255, 255, 255, 1);
	}
		.bottomlinks a:last-child {
			background:		url(images/circlearrow_top.png?6) 10px no-repeat;
			border-right: 	0;
		}
		.bottomlinks a:hover {
			color:				#888;
			background-color: 	#e0e2e3;
			border-bottom: 		0;
			border-left:		1px solid #DDD;
		}

/********************************************/

/********************************************
 * Post Compose/Edit box
 */

.compose {
	padding:	15px 0 15px 20px;
}
	.compose p, .edit_post p {margin:0 0 5px;}
	
	.compose label {
		display:	block;
		color:		#555;
		padding:	3px 0 3px;
	}

	/* write/draw switcher */
	#reply-tabs {
		list-style:	none;
		height:		2em;
		margin:		0;
		padding:	0;
	}
		
		#reply-tabs li {display:inline;}
		#reply-tabs li a {
			background:		#FFF url(images/button-secondary_bg.gif?6) repeat-x;
			border: 		1px solid #999;
			border-right:	0;
			color:			#666;
			display:		block;
			float:			left;
			font-weight:	bold;
			margin:			0;
			padding:		1px 10px;
			text-shadow:	0 1px 0 rgba(255, 255, 255, 1);
		}
			#reply-tabs li:first-child a {
				-moz-border-radius: 				8px 0 0 8px;
				-webkit-border-top-left-radius: 	8px;
				-webkit-border-bottom-left-radius: 	8px;
			}
			#reply-tabs li:last-child a {
				border-right: 						1px solid #999;
				-moz-border-radius: 				0 8px 8px 0;
				-webkit-border-top-right-radius: 	8px;
				-webkit-border-bottom-right-radius: 8px;
			}
			#reply-tabs li.active a {
				background:		#BBB						!important;
				color:			#FFF						!important;
				text-shadow:	0 1px 0 rgba(0, 0, 0, 0.4)	!important;
			}
			#reply-tabs li a:hover {
				background: 	#fafafa;
				border-color:	#999;
				color:			#333;
			}

	#replyText,	#replyImage {margin:5px 0 0 0;}
	.napkin {margin:0 0 5px;}
	
	/* submit buttons */
	.compose button,
	.compose #napkin-submit input,
	.edit_post p:last-child input {
		background:				#83909e url(images/button-primary_bg.gif?6) repeat-x;
		border: 				1px solid #345;
		color:					#111;
		cursor:					pointer;
		font-size:				1em;
		margin:					0 0 0 28px;
		padding:				1px 40px;
		text-shadow:			0 1px 0 rgba(255, 255, 255, 0.5);
		-moz-border-radius: 	10px;
		-moz-box-shadow: 		0 1px 1px rgba(0, 0, 0, .25);
		-webkit-appearance:		none;
		-webkit-border-radius: 	10px;
		-webkit-box-shadow: 	0 1px 1px rgba(0, 0, 0, .25);
	}
		.compose #napkin-submit input {margin:0;}

	/* Richtext controls */
	.richTextToolbar {position:relative;float:left;list-style:none;margin:1px 5px 0 0;padding:0;height:18px;margin-bottom:5px;} .richTextToolbar li {display:block;background:#EEE;border:1px solid #999;border-bottom:0;list-style:none;margin:0;padding:2px 0 2px;width:22px;}.richTextToolbar li:last-child {border-bottom:1px solid #999;}.richTextToolbar li a {cursor:pointer;width:20px;height:16px;display:block;background-image:url(images/textarea_controls.png?6);border:1px solid #EEE;} .richTextToolbar li a:hover {background-image:url(images/textarea_controls_over.png?6);} .richTextToolbar li:first-child {-moz-border-radius: 6px 6px 0 0;-webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;}.richTextToolbar li:first-child a {-moz-border-radius: 6px 6px 0 0;-webkit-border-top-left-radius: 6px;-webkit-border-top-right-radius: 6px;}.richTextToolbar li:last-child {-moz-border-radius: 0 0 6px 6px;-webkit-border-bottom-left-radius: 6px;-webkit-border-bottom-right-radius: 6px;}.richTextToolbar li:last-child a {-moz-border-radius: 0 0 6px 6px;-webkit-border-bottom-left-radius: 6px;-webkit-border-bottom-right-radius: 6px;}.richTextToolbar li a:hover {} .richTextToolbar li span {display:none;} .richTextToolbar .BoldButton { background-position: -2px -102px; } .richTextToolbar .ItalicsButton { background-position: -2px -119px; } .richTextToolbar .LinkButton { background-position: -2px 0; } .richTextToolbar .ImageButton { background-position: -2px -170px; } .richTextToolbar .UnorderedListButton { background-position: -2px -34px; } .richTextToolbar .OrderedListButton { background-position: -2px -51px; } .richTextToolbar .BlockQuoteButton { background-position: -2px -68px; } .richTextToolbar .CodeButton { background-position: -2px -136px; } .richTextToolbar .HelpButton { background-position: -2px -153px; } .richTextToolbar .HeadingButton { background-position: -2px -85px; }.richTextToolbar .EscapeHTMLButton { background-position: -2px -306px; }

	/* message view specific styles */
	body.conversations .compose #reply-tabs { display: none; }
	body.conversations #replyText form input {
		border:					1px solid #888;
		padding-right:			36px;
		width:					60%;
		-moz-border-radius: 	8px;
		-webkit-border-radius: 	8px;
	}

	/* new page'd warning */
	.compose .newpage_warning {
		background:				#A33 url(images/icon-alert.png?6) 5px no-repeat;
		border:					3px solid #D0D0D0;
		color:					#FFF;
		font-size:				11px;
		font-weight:			bold;
		margin:					5px 0;
		padding:				1px 20px 1px 25px;
		width:					25%;
		-moz-border-radius: 	8px;
		-webkit-border-radius:	8px;
		-moz-opacity:			0.90;
		opacity:				0.90;
		filter: 				alpha(opacity = 90);
		-webkit-box-shadow:		0 1px 2px rgba(0, 0, 0, .5);
		-moz-box-shadow: 		0 1px 2px rgba(0, 0, 0, .5);
	}

/********************************************/

/********************************************
 * Thread Compose/Edit box is different from compose box
 */

form.new_discussion, form.edit_discussion {padding:10px 20px}
	form.new_discussion p, form.edit_discussion p {margin: 0 0 5px;}
	form.new_discussion br, form.edit_discussion br {display: none;}

	form.new_discussion label, form.edit_discussion label {
		color:		#555;
		display:	block;
		padding:	3px 0 3px;
	}
	form.new_discussion input.text, form.edit_discussion input.text,
	form.new_discussion select, form.edit_discussion select {
		border:			1px solid #888;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	}
		form.new_discussion input.text, form.edit_discussion input.text {
			width:			50%;
			padding-right:	36px;
		}
		form.new_discussion select, form.edit_discussion select {
			background:	transparent url(images/button-secondary_bg.gif?6) repeat-x;
			padding:	1px 5px;
		}
			form.new_discussion select option, form.edit_discussion select option {
				background:	#FFF;
			}
	form.new_discussion input#discussion_nsfw, form.edit_discussion input#discussion_nsfw,
	form.new_discussion input#discussion_closed, form.edit_discussion input#discussion_closed {
		margin-left:	28px;
		-webkit-appearance: checkbox;
	}
	form.new_discussion p:last-child input, form.edit_discussion p:last-child input {
		background:				#83909e url(images/button-primary_bg.gif?6) repeat-x;
		border: 				1px solid #345;
		color:					#111;
		cursor:					pointer;
		font-size:				1em;
		margin:					5px 0 0 28px;
		padding:				1px 40px;
		text-shadow:			0 1px 0 rgba(255, 255, 255, 0.5);
		-moz-border-radius: 	10px;
		-moz-box-shadow: 		0 1px 0 rgba(0, 0, 0, .5);
		-webkit-appearance:		none;
		-webkit-border-radius: 	10px;
		-webkit-box-shadow: 	0 1px 0 rgba(0, 0, 0, .5);
	}

/********************************************/

/********************************************
 * Favourites
 */
 
body.favorite_discussions p {
	background:				#FFF;
	border:					3px solid #D0D0D0;
	color:					#000;
	display:				inline;
	font-size:				11px;
	font-weight:			bold;
	left:					20px;
	padding:				3px 20px;
	position:				relative;
	top:					20px;
	-moz-border-radius: 	8px;
	-webkit-border-radius:	8px;
	-moz-opacity:			0.90;
	opacity:				0.90;
	filter: 				alpha(opacity = 90);
	-webkit-box-shadow:		0 1px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 		0 1px 3px rgba(0, 0, 0, .5);
}

/********************************************/

/********************************************
 * Categories
 */

#categories { padding: 20px; width: 60%; margin: auto; }
	#categories p {margin: 0;}
	
	/* individual category boxes */
	#categories .category {
		background:				#000;
		border:					2px solid #FFF;
		float:					left;
		padding:				15px;
		margin:					0 5px 5px 0;
		min-height:				120px;
		text-align:				center;
		width:					120px;
		-moz-border-radius: 	8px;
		-webkit-border-radius:	8px;
		-webkit-box-shadow:		0 1px 3px rgba(0, 0, 0, .5);
		-moz-box-shadow: 		0 1px 3px rgba(0, 0, 0, .5 );
	}
	
	/* category titles */
	#categories h3.name span.labels { display: none; }
	#categories h3.name {
		color:			#333;
		font-size:		10px;
		font-weight:	normal;
		padding:		0;
		margin:			0;
	}
		#categories h3.name a {
			background: url(images/category-unknown_large.png?6) top no-repeat;
			border-bottom:	0;
			clear:			both;
			color:			#EEE;
			display:		block;
			font-size:		12px;
			letter-spacing:	.5px;
			padding-top:	90px;
			-moz-opacity:	0.80;
			opacity:		0.80;
			filter: 		alpha(opacity = 80);
		}
		
	/* hide category description */
	#categories .description { display: none; }
	
	/* bring up category icon opacity on hover */
	#categories .category:hover h3.name a {
		-moz-opacity:	1;
		opacity:		1;
		filter: 		alpha(opacity = 100);
	}
	
	/* show description on hover */
	#categories .category:hover .description { 
		background:			#000;
		border: 			2px solid #FFF;
		border-top: 		0;
		color: 				#AAA;
		display: 			block;
		font-size:			11px;
		font-weight: 		normal;
		line-height:		1.25em;
		margin: 			10px -17px 0;
		padding: 			0 15px 15px;
		position: 			absolute;
		width: 				120px;
		z-index: 			999;
		-moz-border-radius: 	0 0 8px 8px;
		-webkit-border-bottom-left-radius:	8px;
		-webkit-border-bottom-right-radius:	8px;
		-webkit-box-shadow:		0 2px 3px rgba(0, 0, 0, .5);
		-moz-box-shadow: 		0 2px 3px rgba(0, 0, 0, .5 );
	}
	
	/* category icons */
	#categories .category1 h3 a {	/* Genearl */
		background: url(images/category-general_large.png?6) top no-repeat;
	}
	#categories .category2 h3 a {	/* Butt3rscotch */
		background: url(images/category-butterscotch_large.png?6) top no-repeat;
	}
	#categories .category3 h3 a {	/* Technology */
		background: url(images/category-technology_large.png?6) top no-repeat;
	}
	#categories .category4 h3 a {	/* The Web */
		background: url(images/category-web_large.png?6) top no-repeat;
	}
	#categories .category5 h3 a {	/* Art & Design */
		background: url(images/category-artdesign_large.png?6) top no-repeat;
	}
	#categories .category6 h3 a {	/* unknown. admin forum? */
		background: url(images/category-unknown_large.png?6) top no-repeat;
	}
	#categories .category7 h3 a {	/* Random Madness */
		background: url(images/category-random_large.png?6) top no-repeat;
	}
	#categories .category8 h3 a {	/* Secret Stuffs */
		background: url(images/category-secret_large.png?6) top no-repeat;
	}
	#categories .category9 h3 a {	/* NSFW */
		background: url(images/category-nsfw_large.png?6) top no-repeat;
	}
	#categories .category10 h3 a {	/* Serious */
		background: url(images/category-serious_large.png?6) top no-repeat;
	}
	#categories .category11 h3 a {	/* Entertainment */
		background: url(images/category-entertainment_large.png?6) top no-repeat;
	}
	#categories .category12 h3 a {	/* Paul's Dossiers */
		background: url(images/category-pauls_dossiers_large.png?6) top no-repeat;
	}

/********************************************/

/********************************************
 * Users list
 */
 
body.users {
	background:	#FFF url(images/post_bg.gif?6) repeat-y;
}
	
	/* tab icons */
	.topTabs .AllUsersTab a {
		background: url(images/icon-all_users.png?6) 13px no-repeat;	
	}
	.topTabs .OnlineUsersTab a {
		background: url(images/icon-online_users.png?6) 12px no-repeat;	
	}
	.topTabs .RecentlyJoinedTab a {
		background: url(images/icon-recently_joined.png?6) 12px no-repeat;	
	}
	.topTabs .TopPostersTab a {
		background: url(images/icon-top_posters.png?6) 13px no-repeat;
	}
	.topTabs .AdminsTab a {
		background: url(images/icon-admin.png?6) 12px no-repeat;
	}
	.topTabs .BannedUsersTab a {
		background: url(images/icon-banned.png?6) 13px no-repeat;
	}
	.topTabs .TwitterUsersTab a {
		background: url(images/icon-twitter.png?6) 14px no-repeat;
	}
	.topTabs .XboxLiveUsersTab a {
		background: url(images/icon-xboxlive.png?6) 8px no-repeat;
	}
				
	/* online count */
	body.users p {margin: 15px 0 -10px 190px;}
	
	/* user list table */
	.users_list {
		border-collapse:	collapse;
		margin:				20px 20px 0 190px;
	}
	
		/* table header */
		.users_list th {
			color:			#FFF;
			background: 	url(images/lightgrey_gradient.gif?6) repeat-x;
			border-right:	1px solid #AAABAC;
			padding:		4px 15px;
			text-align:		left;
			text-shadow:	0 1px 0 rgba(0, 0, 0, 0.5);
			white-space:	nowrap;
		}
			.users_list th:first-child {
				-moz-border-radius: 			8px 0 0;
				-webkit-border-top-left-radius: 8px;
			}
			.users_list th:last-child {
				border-right:						0;
				-moz-border-radius: 				0 8px 0 0;
				-webkit-border-top-right-radius: 	8px;
			}
			
		.users_list td {
			border-bottom:	1px solid #EEE;
			padding:		8px 15px;
		}
	
	/* status icons */
	.users_list td.status span.admin {
		background:	url(images/icon-admin.png?6) no-repeat;
		color:		transparent;
		display:	block;
		height:		19px;
		width:		19px;
	}
	.users_list td.status span.banned {
		background:	url(images/icon-banned.png?6) no-repeat;
		color:		transparent;
		display:	block;
		height:		19px;
		width:		19px;
	}
	
	/* color 'online now' indicator */
	.users_list td.last_active strong {
		color:		#6B6;
	}
	
	/* xbox avatar */
	.users_list td.xbox_tile img {
		background:				#FFF;
		border:					1px solid #CCC;
		padding:				2px;
		-moz-border-radius: 	3px;
		-webkit-border-radius:	3px;
	}
	
/********************************************/

/********************************************
 * User Profiles
 */

body.user_profile {}

	/* user info box */
	body.user_profile #userinfo {
		float:			left;
		margin:			5px 0 0;
	}
		body.user_profile #userinfo img {
			max-width:	98%;
			min-width:	1px;
			max-height:	700px;
			min-height:	1px;
		}
		/* user avatar */
		body.user_profile #userinfo > .avatar_and_name {
			background:		#EEEFF0;
		}
			body.user_profile #userinfo > .avatar_and_name .avatar {
				background:				#FFF;
				border:					1px solid #E3E3E3;
				float:					left;
				margin:					0 5px 5px 0;
				padding:				2px;
				-moz-border-radius: 	3px;
				-webkit-border-radius:	3px;
			}
			body.user_profile #userinfo > .avatar_and_name .username {
				border:		0;
				font-size:	1.5em;
			}

	/* widget boxes */
	body.user_profile #userinfo > .avatar_and_name,
	body.user_profile #userinfo .twitter,
	body.user_profile #userinfo .flickr,
	body.user_profile #userinfo .invitees,
	body.user_profile #userinfo > .xboxlive,
	body.user_profile #userinfo > .description,
	body.user_profile #userinfo > .lastfm,
	body.user_profile #userinfo > p {
		display:				block;
		background:				#FFF;
		border:					1px solid #888;
		padding:				10px;
		width:					280px;
		margin:					5px 5px 5px 10px;
		-moz-border-radius: 	8px;
		-webkit-border-radius: 	8px;
		-moz-box-shadow:		0 1px 2px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 	0 1px 2px rgba(0, 0, 0, 0.3);
	}

	/* widget headers */
	body.user_profile #userinfo .invitees h3,
	body.user_profile #userinfo .twitter h3,
	body.user_profile #userinfo .xboxlive h3,
	body.user_profile #userinfo .lastfm h3,
	body.user_profile #userinfo .flickr h3 {
		margin:								-10px -10px 0;
		padding:							4px 10px;
		background:							#DDD;
		-moz-border-radius: 				8px 8px 0 0;
		-webkit-border-top-left-radius: 	8px;
		-webkit-border-top-right-radius:	8px;
	}
		body.user_profile #userinfo h3 a {
			border:	0;
		}

	/* widget box body content */
	body.user_profile #userinfo > p,
	body.user_profile #userinfo > .description {
		border-top:							1px solid #CCC;
		margin:								-12px 5px 5px 10px;
		padding:							7px 10px 12px;
		-moz-border-radius: 				0 0 8px 8px;
		-webkit-border-top-left-radius: 	0;
		-webkit-border-top-right-radius: 	0;
	}
	
	/* users invited list */
	body.user_profile #userinfo .invitees {
		padding:		10px 0 0;
		width:			300px;
	}
		body.user_profile #userinfo .invitees h3 {
			margin:		-10px 0 0;
		}
		body.user_profile #userinfo .invitees ul {
			list-style:	none;
			margin:		0;
			padding:	0;
		}
			body.user_profile #userinfo .invitees ul li {
				border-top: 1px solid #EEE;
				margin:	0;
				padding: 3px 10px;
			}

	/* xbox live */
	body.user_profile #userinfo > .xboxlive {
		background:		#CEC;
	}
		body.user_profile #userinfo .xboxlive h3 {
			background:	#ACA url(images/icon-xboxlive.png?6) 6px no-repeat;
			padding:	4px 10px 4px 35px;
		}
		body.user_profile #userinfo > .xboxlive .avatar {
			float:		left;
			padding:	2px;
			background:	#FFF;
			border:		1px solid #BBB;
			margin:		0 8px 5px 0;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		body.user_profile #userinfo > .xboxlive p {
			margin:		0;
			padding:	10px 5px;
		}

		
	/* flickr */
	body.user_profile #userinfo .flickr {
		background:	#FFF;
	}
		body.user_profile #userinfo .flickr h3 {
			background:	#FFF url(images/icon-flickr.png?6) 12px no-repeat;
			padding:	4px 10px 4px 35px;
		}
			body.user_profile #userinfo .flickr h3 a {
				color:	#33F;
			}
		body.user_profile #userinfo .flickr #flickrPhotos {
			padding:	0;
		}
		body.user_profile #userinfo .flickr ul {
			list-style:	none;
			margin:		0;
			padding:	0;
		}
			body.user_profile #userinfo .flickr ul li {
				display:	inline;
				margin:		0;
				padding:	5px 5px;
			}
				body.user_profile #userinfo .flickr ul li a {
					border: 0;
				}
				
	/* lastfm */
	body.user_profile #userinfo .lastfm {
		background:	#FEE;	
	}
		body.user_profile #userinfo .lastfm h3 {
			background:		#FAA url(images/icon-lastfm.png?6) 12px no-repeat;
			padding:		4px 10px 4px 35px;
			margin-bottom:	10px;
		}
		body.user_profile #userinfo .lastfm a {
			border:	0;
		}
		body.user_profile #userinfo .lastfm img {
			width:		auto;
			height:		auto;
			max-width:	100%;
		}
		
	/* twitter */
	body.user_profile #userinfo .twitter {
		background:		#EEEFFF;
		padding:		0;
		width:			300px;
	}
		body.user_profile #userinfo .twitter h3 {
			background:	#CDF url(images/icon-twitter.png?6) 12px no-repeat;
			padding:	4px 10px 4px 35px;
			margin:		0;
		}
		body.user_profile #userinfo .twitter ul {
			list-style:	none;
			margin:		0;
			padding:	0;		
		}
			body.user_profile #userinfo .twitter ul li {
				border-top: 1px solid #DDD;
				margin:	0;
				padding: 5px 10px;
			}

	/* user's discussions links - make them like bottom links */
	body.user_profile #userinfo .posts_and_discussions {
		color:				transparent;
		background:			#eff1f3;
		border:				0;
		border-left:		1px solid #DDD;
		border-top:			1px solid #AAA;
		height:				32px;
		font-size:			0;
		padding:			0;
		position:			fixed;
		bottom:				0;
		left:				-1px;
		margin:				0;
		width:				100%;
		z-index:			9999;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
		body.user_profile #userinfo .posts_and_discussions a {
			color:			#AAA;
			background:		url(images/circlearrow_right.png?6) 10px no-repeat;
			border:			0;
			border-right:	1px solid #DDD;
			border-left:	1px solid #FFF;
			float:			left;
			font-size:		11px;
			font-weight:	bold;
			padding:		7px 20px 7px 33px;
			text-shadow:	0 1px 0 rgba(255, 255, 255, 1);
		}
			body.user_profile #userinfo .posts_and_discussions a:last-child {
				border-right: 0;
			}
			body.user_profile #userinfo .posts_and_discussions a:hover {
				background-color:	#e0e2e3;
				border-bottom: 		0;
				border-left:		1px solid #DDD;
				color:				#888;
			}
		body.user_profile #userinfo .posts_and_discussions br {
			display:	none;
		}
	
	/* user's recent posts */
	body.user_profile #userPosts {
		padding:	0 0 30px;
		width:		98%;
	}
		body.user_profile #userPosts .posts {
			border:					1px solid #888;
			margin:					10px 0 0 320px;
			-moz-border-radius:		8px;
			-webkit-border-radius:	8px;
			-moz-box-shadow:		0 1px 2px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 	0 1px 2px rgba(0, 0, 0, 0.3);
		}
			body.user_profile #userPosts .post {
				min-height: 100px;
			}
			body.user_profile #userPosts .posts .post:first-child {
				-moz-border-radius: 15px 15px 0 0;
			}
			body.user_profile #userPosts .posts .post:first-child .title {
				margin: 							-1px 0 0;
				-moz-border-radius:					8px 8px 0 0;
				-webkit-border-top-left-radius:		8px;
				-webkit-border-top-right-radius:	8px;
			}
			body.user_profile #userPosts .posts .post:last-child,
			body.user_profile #userPosts .posts .post:last-child .body {
				-moz-border-radius:					0 0 8px 8px;
			}

		body.user_profile #userPosts .body { width:60%; }
		
			/* resize any ridiculously wide photos in posts */
			body.user_profile #userPosts .body img {
				height:		auto;
				width:		auto;
				max-width:	98%;
				min-width:	1px;
				max-height:	700px;
				min-height:	1px;
			}
			
		/* clearing breaks floating of profile widgets */
		body.user_profile #userPosts .body:after { clear:none; }
		
/********************************************/

/********************************************
 * Profile editor
 */

body.edit_user_profile {
	background:	#b0b5bb url(images/post_bg.gif?6) repeat-y;
}
	body.edit_user_profile #content form {
		border-left:	1px solid #888;
		padding:		10px 20px;
		margin-left:	175px;
		color:			#666;
	}
	body.edit_user_profile #content p {
		margin:	0 0 5px;
	}
	body.edit_user_profile #content label {
		color:		#555;
		display:	block;
		padding:	0 0 1px;
	}
	body.edit_user_profile #content input[type="text"],
	body.edit_user_profile #content input[type="password"],
	body.edit_user_profile #content select {
		border:					1px solid #888;
		-moz-border-radius: 	8px;
		-webkit-border-radius: 	8px;
	}
		body.edit_user_profile #content input[type="password"] {
			margin-bottom: 2px;
		}
		body.edit_user_profile #content input[type="text"] {
			padding-right:	36px;
			width:			60%;
		}
		body.edit_user_profile #content select {
			background:	transparent url(images/button-secondary_bg.gif?6) repeat-x;
			padding:	1px 5px;
		}
			body.edit_user_profile #content select option {
				background:	#FFF;
			}
	body.edit_user_profile #content form > p:last-child input {
		background:				#83909e url(images/button-primary_bg.gif?6) repeat-x;
		border: 				1px solid #345;
		color:					#111;
		cursor:					pointer;
		font-size:				1em;
		margin:					5px 0 0 0;
		padding:				1px 40px;
		text-shadow:			0 1px 0 rgba(255, 255, 255, 0.5);
		-moz-border-radius: 	10px;
		-moz-box-shadow: 		0 1px 0 rgba(0, 0, 0, .5);
		-webkit-appearance:		none;
		-webkit-border-radius: 	10px;
		-webkit-box-shadow: 	0 1px 0 rgba(0, 0, 0, .5);
	}
	
	body.edit_user_profile #editProfileMap {
		height:					400px;
		border:					1px solid #999;
	}