# encoding: utf-8

Sugar.redis_prefix = "sugar"

Sugar::Application.config.session_store(
  :cookie_store,
  :key          => '_sugar_session',
  :expire_after => 3.years
)

Sugar::Application.config.secret_token = 'your own very special secret token here'
