body, input, textarea {
  font-family: Calibri, Trebuchet MS, Arial, Verdana, sans-serif;
}

input, textarea {
  font-size: 1.2em;
}

textarea {
  width: 100%;
  max-width: 780px;
  height: 300px;
  padding: 10px;
  border: 1px solid #d7d7d7;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Set 1em == 10px */
body       { font-size: 10px; }
* html     { font-size: 125%; }
* html body{ font-size: 50%; }

h2, h3, h4, h5, h6, p, ul, ol, pre {
  margin-bottom: 1em;
}

h1 {
  font-size: 2.0em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

h2 em {
  font-weight: normal;
  font-style: normal;
  color: #555;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 0.8em;
  color: #444;
}

blockquote {
  margin: 0;
  padding: 10px 10px;
  background: #F3F1E9;
  color: #3C392C;
  border: 1px solid #DEDCD4;
  border-left: 5px solid #CCC9BC;
}

/* Posted by.. inside blockquotes */
blockquote cite {
  display: block;
  color: #7E7B70;
  border-bottom: 1px solid #CCC9BC;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: -5px;
}

code, pre.highlight {
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 12px;
}

pre.highlight {
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5;
}

code {
  background: #f8f8f8;
  border: 1px solid #eee;
  padding: 0px 3px;
}

pre code {
  display: block;
  padding: 5px;
}

label {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

label .description {
  font-weight: normal;
  color: #555;
}

a, a:visited {
  text-decoration: none;
  color: #622;
}

a:hover {
  color: #c22;
}

/* Damn you, Firefox */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a.button,
a.button:visited,
button {
  font-family: Calibri, Trebuchet MS, Arial, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #616161;
  text-shadow: 1px 1px 1px #ffffff;
  padding: 4px 14px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background: #fbfbfb;
  box-shadow: inset 0px 2px 3px rgba(255, 255, 255, 1.0);
  background-image: linear-gradient(to bottom,
                                    #f8f8f8 0%,
                                    #fbfbfb 20%,
                                    #fbfbfb 50%,
                                    #e8e8e8 100%);
  &:hover {
    border-color: #888;
    cursor: pointer;
    color: #444;
  }
}
