table.discussions {
  border-collapse: collapse;
  border-top: 1px solid #E2DCBF;
  width: 100%;
  margin-bottom: 20px;

  td {
    padding: 3px 20px 7px 0;
    border-bottom: 1px solid #E2DCBF;
    white-space: nowrap;
    color: #6f5a43;

    &.name {
      font-size: 1.3em;
      font-weight: 600;
      padding-bottom: 0;
      padding-top: 7px;
      border-bottom: 0;
      .title {
        white-space: normal;
        float: left;
        max-width: 600px;
      }
    }

    &.last {
      width: 100%;
    }
  }

  tr {
    &.new_posts {
      background: #ffffe8;
      td.new_posts strong {
        color: #c76700;
      }
    }
    &.nsfw {
      opacity: 0.6;
    }
    &.closed {
      .name {
        a, a:visited {
          color: #666;
        }
        a:hover, a:focus {
          color: #333;
        }
      }
    }
  }

  .targeted {
    td {
      background: #f0f5f8;
      color: #012;
    }
    &.nsfw {
      opacity: 1.0;
    }
  }
}
