.posts {
  border-top: 1px solid #E2DCBF;
  margin-bottom: 20px;
  width: 100%;

  .context {
    border-bottom: 3px solid #E2DCBF;
    .post {
      &,
      blockquote,
      a,
      a:visited {
        color: #777;
      }
      a:hover {
        color: #555;
      }
      .avatar {
        opacity: 0.7;
      }
    }
  }

  // Small block between posts that say "2 days later..."
  .post_distance {
    border-bottom: 1px solid #E2DCBF;
    padding: 2px 0 2px 45px;
    background: #f8f7f1;
    color: #84806d;
  }
}

// Container for posts loaded via AJAX
#ajaxPosts .post:first-child, #previewPost {
  border-top: 3px solid #E2DCBF;
}


.post {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E2DCBF;
  .anchor {
    position: absolute;
    margin-top: -20px;
  }
  .title {
    background: transparent image-url('default/discussion_title_bg.png') 0px 14px no-repeat;
    font-size: 1.3em;
    font-weight: bold;
    padding: 7px 0 7px 19px;
    margin: -15px 0 0 0;
    small {
      font-size: 0.8em;
      font-weight: normal;
      margin-left: 7px;
    }
    .labels {
      color: #555;
    }
  }
  .deleted-post {
    color: #888;
    margin-left: 45px;
  }
  .post_functions {
    line-height: 1;
    color: #888;
    float: right;
    margin-right: 10px;
    font-size: 13px;
  }
  .post_info {
    line-height: 1;
    color: #888;
    margin-bottom: -8px;
    font-size: 13px;
    .avatar {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      img {
        vertical-align: top;
      }
    }
    .username {
      font-size: 16px;
      font-weight: bold;
      margin-right: 5px;
    }
  }
}
.body, .post .edit {
  clear: both;
  font-size: 14px;
  line-height: 1.35;
  max-width: 800px;
  margin-left: 45px;
}
.post .body img {
  max-width: 100%;
  height: auto;
}
.post .body ul, .post .body ol {
  margin-left: 17px;
}
.post .body ul {
  list-style-type: disc;
  list-style-position: outside;
}
.post .body ol {
  list-style-type: decimal;
  list-style-position: outside;
}
.post .body ul p,
.post .body ul ul,
.post .body ul ol,
.post .body ol p,
.post .body ol ul,
.post .body ol ol {
  margin-bottom: 0px;
}
.post .body .content {
  font-size: 1em;
}
.post .body.syntax {
  max-width: 100%;
}

.me_post {
  background: #f8f7f1;
  color: #484030;
}
.me_post .avatar {
  float: left;
  margin-top: -6px;
}
.me_post .body {
  font-weight: bold;
  clear: none;
  max-width: 100%;
}
.me_post .body .date {
  font-size: 0.9em;
  font-weight: normal;
}
.me_post .body a.poster, .me_post .body a.poster:visited {
  text-decoration: none;
  color: #05506d;
}
.me_post .body a.poster:hover {
  color: #460000;
}
.post .body .edited {
  color: #888;
  font-size: 0.9em;
  margin-top: 1em;
}
.post .body h1,
.post .body h2,
.post .body h3,
.post .body h4,
.post .body h5,
.post .body h6,
.post .body blockquote {
  margin: 15px 0px;
}
.post .body p {
  margin: 1.0em 0px;
}
/* Ugly, but works for now */
.post .body p:first-child {
  margin-top: 0px;
}
.post .body p:last-child {
  margin-bottom: 0px;
}

.post .body a {
  color: #005794;
  text-decoration: underline;
}

.post .body a:visited {
  color: #3900a2;
}

.post .body a:hover {
  color: #001d32;
}

.post a.permalink, .post a.permalink:visited {
  color: #888;
  text-decoration: none;
}
.post a.permalink:hover {
  color: #333;
}


/* Targeted post (Keyboard navigation) */
.posts .targeted {
  border-top: 1px solid #3B89C7;
  border-bottom: 1px solid #3B89C7;
  background: #f0f5f8;
  margin-top: -1px;
}

.new_posts_since_refresh {
  font-size: 1.3em;
  border-bottom: 1px solid #E2DCBF;
  padding: 5px 0 5px 45px;
  background: #f8f7f1;
  color: #484030;
  margin-top: -1.3em;
  margin-bottom: 1.3em;
}

.new_posts_since_refresh p {
  margin: 0;
}
