#sidebar {
  position: absolute;
  right: 0;
  width: 220px;
  padding: 0 0 0 30px;
  font-size: 1.2em;

  .buttons {
    margin: 15px 0;
  }

  button, a.button {
    display: block;
  }

  .participants {
    ul {
      list-style-type: disc;
      list-style-position: inside;
    }
    li {
      font-size: 1.1em;
    }
    .remove-participant {
      float: right;
    }
  }

  .categories {
    ul {
      margin-top: -10px;
    }
    li {
      border-bottom: 1px solid #E2DCBF;
      padding: 4px 0;
      font-size: 1.1em;
      display: block;
      clear: both;
    }
    li .count {
      float: right;
      font-size: 0.9em;
      padding-top: 1px;
      color: #888;
    }
    .meta li .count,
    li.current .count {
      padding-top: 3px;
    }
    li.current a {
      color: #c22;
      font-size: 1.2em;
      font-weight: bold;
    }
    .meta li a {
      font-size: 1.2em;
    }
  }
}
