<%= labelled_field f.text_field(:location, :size => 50), "Location", :errors => @user.errors[:location] %>

<%= f.hidden_field(:latitude) %><%= f.hidden_field(:longitude) %>
<%= labelled_field '', "Map", :description => 'Click to place yourself on the map. ('+link_to_function("Clear location", "clearLocation();")+')' %>

<div id="editProfileMap" class="map" style="min-width: 500px; min-height: 500px;"></div>

