<%= f.labelled_text_field :website, size: 50 %>

<% if current_user == @user && Sugar.config.facebook_app_id %>
  <p class="field">
    <label>Facebook</label>
    <% if @user.facebook_uid? %>
      <%= t("user.edit.facebook_connected") %>
      <%= link_to(t("user.edit.remove?"),
                  disconnect_facebook_path,
                  method: :post) %>
    <% else %>
      <%= link_to(t("user.edit.connect_with_facebook"),
                  facebook_oauth_url(connect_facebook_url),
                  class: "fb_button") %>
    <% end %>
  </p>
<% end %>

<p>
  TODO: Services
</p>
