<%
	columns ||= [:username, :location, :last_active, :member_since, :discussions_and_posts, :status]
	users   ||= []
%>
<table class="list users_list">
	<tr>
		<% columns.each do |column| %><th>
		<%=
			case column
			when :discussions_and_posts
				"Discussions/Posts"
			when :twitter
				"Twitter Account"
			when :status
				""
			else
				column.to_s.humanize
			end
		%>
		</th><% end %>
	</tr>
	<% users.each do |user| %><tr>
		<% columns.each do |column| %><td class="<%= column.to_s %>">
		<%=
			case column
			when :username
				profile_link(user)
			when :location
				h(user.location)
			when :last_active
				(user.online?) ? "<strong>Online now</strong>" : formatted_time(user.last_active)
			when :member_since
				formatted_time user.created_at
			when :discussions_and_posts
				user.discussions_count.to_s + "/" + user.posts_count.to_s
			when :posts_count
				user.posts_count
			when :posts_per_day
				user.posts_per_day
			when :status
				if user.banned?
					'<span class="banned">Banned!</span>'
				elsif user.admin?
					'<span class="admin">Admin!</span>'
				end
			when :twitter
				link_to "@#{user.twitter}", "http://twitter.com/#{user.twitter}"
			else
				"#{column} not defined"
			end
		%>
		</td><% end %>
	</tr><% end %>
</table>
