<%
  columns ||= [:username, :location, :last_active, :member_since, :status]
  users   ||= []
%>
<table class="list users_list">
  <tr>
    <% columns.each do |column| %>
      <th>
        <%=
        case column
        when :discussions_and_posts
          "Discussions/Posts"
        else
          column.to_s.humanize
        end
        %>
      </th>
    <% end %>
  </tr>
  <% users.each do |user| %>
    <tr>
      <% columns.each do |column| %>
        <td class="<%= column.to_s %>">
          <%=
          case column
          when :username
            profile_link(user)
          when :location
            h(user.location)
          when :last_active
            user.online? ?
              "<strong>Online now</strong>".html_safe :
              time_tag(user.last_active, class: "relative")
          when :member_since
            time_tag user.created_at, class: "relative"
          when :discussions_and_posts
            user.discussions.viewable_by(current_user).count.to_s + "/" +
            user.discussion_posts.viewable_by(current_user).count.to_s
          when :public_posts_count
            user.public_posts_count
          when :posts_per_day
            number_with_precision(user.posts_per_day, precision: 2)
          when :status
            if user.memorialized?
              '<span class="memorialized">Memorialized</span>'.html_safe
            elsif user.banned?
              '<span class="banned">Banned</span>'.html_safe
            elsif user.inactive?
              '<span class="banned">Inactive</span>'.html_safe
            elsif user.time_out?
              ('<span class="banned">On time out</span> for ' +
               distance_of_time_in_words(Time.now, user.banned_until)).html_safe
            elsif user.hiatus?
              ('<span class="banned">On hiatus</span> for ' +
               distance_of_time_in_words(Time.now, user.banned_until)).html_safe
            elsif user.user_admin? || user.moderator?
              ('<span class="admin">' +
               user.admin_labels.to_sentence +
               '</span>').html_safe
            end
          else
            "#{column} not defined"
          end
          %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
