<% 
	add_body_class "users"
	@page_title = "Users" 
%>

<table class="list users_list">
	<tr>
		<th>Username</th>
		<th>Last active</th>
	</tr>
	<% @users.each do |user| %><tr>
		<td class="username">
			<% if @online_users.include?(user) %>
				<strong><%= profile_link(user) %></strong>
			<% else %>
				<%= profile_link(user) %>
			<% end %>
		</td>
		<td class="last_active"><%= (user.online?) ? "<strong>Online now</strong>".html_safe : formatted_time(user.last_active) %></td>
	</tr><% end %>
</table>