development:
  adapter: mysql2
  encoding: utf8
  username: my_username
  password: my_password
  database: sugar_dev
  pool: 5

test:
  adapter: mysql2
  encoding: utf8
  username: my_username
  password: my_password
  database: sugar_test
  pool: 5

production:
  adapter: mysql2
  encoding: utf8
  username: my_username
  password: my_password
  database: sugar
  pool: 5