<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= Sugar.config(:forum_name) %> - Maintenance</title>
	<style type="text/css" media="screen">
		html, body {
			background: #14000b;
			color: #fff;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 24px;
			font-weight: bold;
			margin: 0; padding: 0; border: 0;
			height: 100%;
			letter-spacing: -0.04em;
		}
		img.maintenance {
			margin-bottom: 1em;
		}
	</style>
</head>
<body>
	<table height="100%" width="100%" cellspacing="0" border="0"><tr valign="middle" height="100%"><td align="center">
		<p><img src="/images/maintenance.jpg" alt="Linear Accelerator" class="maintenance" /></p>
		<p><%= reason %></p>
	</td></tr></table>
</body>
</html>
