production:
  solr:
    hostname: localhost
    port: 8080
    log_level: WARNING
    path: /solr
    auto_commit_after_request: false

development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO
    path: /solr/development

test:
  solr:
    hostname: localhost
    port: 8983
    log_level: WARNING
    path: /solr/test
