@import 'reset';
@import 'clearfix';
@import 'breakpoints';
@import 'components/**/*';

html, body {
  height: 100%;
}

body {
  color: #000000;
  line-height: 1.3;
}


/* Contextual links, ie. "New Discussion" */
.functions {
  font-size: 1.5em;
  float: right;
  font-weight: bold;
  color: #888;
}

div.errors {
  color: #100;
  border: 1px solid #d88;
  background: #fdd;
  padding: 10px 15px 1px 15px;
  margin: 0 -16px 1em -16px;
  ul {
    margin: 0;
    list-style-type: disc;
    list-style-position: inside;
  }
}


.field_with_errors {
  display: block;
  label {
    margin-top: 12px;
    color: #100;
    background: #fdd;
    padding: 2px 8px;
    margin-left: -8px;
    span.description {
      color: #633;
    }
  }
}

div.fieldWithErrors {
  display: inline;
}

fieldset {
  margin-bottom: 20px;
  h2 {
    border-bottom: 1px solid #E2DCBF;
    margin-top: 20px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    color: #444;
  }
  p.info {
    font-size: 1.2em;
  }
}


textarea.code {
  width: 100%;
  font-family: Menlo, Monaco, Consolas, Courier New, Courier, monospace;
}

span.example {
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 11px;
  background: #F3F1E9;
  padding: 2px 4px;
  white-space: nowrap;
  color: #000;
}

.mobile_link {
  font-size: 15px;
  margin-top: 15px;
  font-weight: bold;
}

.pagination {
  font-size: 1.3em;
  font-weight: bold;
  color: #888;
  margin-top: -1em;
  margin-bottom: 5px;
  clear: both;
  .icon {
    font-size: 0.8em;
  }
  .links {
    float: right;
  }
}

.content {
  font-size: 1.3em;
  a {
    text-decoration: underline;
  }
}

#button-container.posting,
#napkin-submit.posting {
  background: transparent image-url('default/ajax_spinner_small.gif') 0 2px no-repeat;
  padding: 2px 24px;
}


/* -----------------------------------------------------------------------
   LAYOUT
   ----------------------------------------------------------------------- */

/* Top heading/breadcrumbs with line */
h2.section,
#sidebar h2 {
  padding-bottom: 7px;
  border-bottom: 1px solid #E2DCBF;
  width: 100%;
}

#sidebar h2 {
  color: #6f5a43;
  margin-bottom: 10px;
}

.error_message {
  font-size: 1.4em;
}

#wrapper {
  position: absolute;
  top: 116px;
  left: 30px;
  right: 30px;
}

#content {
  min-width: 600px;
  font-size: 1.2em;
  padding-bottom: 30px;
  td, th {
    padding-right: 20px;
  }
}


/* -----------------------------------------------------------------------
   SIDEBAR
   ----------------------------------------------------------------------- */

body.with_sidebar #content {
  margin-right: 250px;
}


/* -----------------------------------------------------------------------
   NEW DISCUSSION
   ----------------------------------------------------------------------- */

.new_discussion input.text, .edit_discussion input.text {
  width: 100%;
  max-width: 800px;
}

#new_discussion input.title, #edit_discussion input.title {
  font-size: 1.2em;
}

#new_discussion {
  .title_search {
    border: 1px solid #E2DCBF;
    padding: 2px 8px;
    width: 100%;
    max-width: 588px;
    margin-top: 2px;
    &.loading {
      background: transparent image-url('default/ajax_spinner_small.gif') 0 2px no-repeat;
      padding: 2px 24px;
      border: 0;
      color: #84806d;
    }

    h4 {
      margin-bottom: 0;
      padding: 8px 0;
      font-size: 1.2em;
      color: #84806d;
    }

    a,
    a:visited {
      border-top: 1px solid #E2DCBF;
      padding: 4px 0;
      font-size: 1.2em;
      display: block;
    }

    a.discussion {
      font-weight: bold;
      .posts_count {
        font-weight: normal;
        font-size: 0.8em;
        padding-left: 4px;
        color: #84806d;
      }
    }
  }
}

.userinfo {
  margin-bottom: 1em;
}

.bottomlinks {
  font-size: 1.3em;
  font-weight: bold;
  border-top: 1px solid #E2DCBF;
  padding: 5px 0;
}


/* -----------------------------------------------------------------------
   SEARCH
   ----------------------------------------------------------------------- */

.search_tips {
  margin-top: -10px;
  margin-bottom: 30px;
  max-width: 600px;
  font-size: 1.1em;
  color: #444;
  strong {
    color: #000;
  }
}



/* -----------------------------------------------------------------------
   INVITES SECTION
   ----------------------------------------------------------------------- */

.invites_list {
  .email {
    font-weight: bold;
  }
  .actions {
    width: 50%;
  }
}
