<%
	# Options
	discussion         ||= false
	functions          ||= false
	permalink          ||= false
	post_distance      ||= false
	title              ||= false
	new_posts_notifier ||= false
	no_pagination      ||= false
	no_container       ||= false
	
	previous_post = nil
-%>
<%= render(:partial => 'components/pagination', :locals => { :p => posts, :anchor => :start }) unless no_pagination %>
<% unless no_container %><div class="posts"><% end %>
<% if posts.respond_to?(:context) && posts.context? && posts.index(post) == 0 %><div class="context"><% end %>
<% posts.each do |post| %>
	<%= render :partial => 'posts/post', :locals => {
		:post => post, 
		:post_distance => post_distance, 
		:title => title, 
		:functions => functions, 
		:discussion => discussion,
		:permalink => permalink,
		:previous_post => previous_post
	} %>
	<% previous_post = post %>
<% end %>
<% if posts.respond_to?(:context) && posts.context? && posts.index(post) == (posts.context-1) %></div><a name="start" id="startAnchor"></a><% end %>
<% unless no_container %></div><% end %>
<% if new_posts_notifier %><div id="newPosts"></div><% end %>	
<%= render(:partial => 'components/pagination', :locals => { :p => posts, :anchor => :start }) unless no_pagination %>
