<% 
	@page_title = "Categories" 
%>

<% if @categories && @categories.length > 0 %><div class="categories">
	<% @categories.each do |category| %>
		<div class="category <%= "trusted_category" if category.trusted? %>">
			<h2 class="name">
				<% if category.trusted? %>[Trusted]<% end %>
				<%= link_to category.name, category_path(category) %> <span class="count">&mdash; <%= category.discussions.count %> discussions</span>
			</h2>
			<p class="description">
				<%= category.description %>
			</p>
		</div>
	<% end %>
</div><% else %>
	<p>No categories have been made yet.</p>
<% end %>