<% 
	add_body_class "new_category"
	@page_title = "New category" 
%>

<h2 class="section"><%= link_to "Categories", categories_path %> &raquo; <%= link_to "New", new_category_path %></h2>

<%= form_for(@category) do |form| %>
	<%= render :partial => 'category_form', :locals => {:form => form} %>
	<p><button type="submit">Create</button></p>
<% end %>