.slide-down {
  animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideDown {
  from {
    height: 0;
    overflow: hidden;
  }
  99% {
    height: var(--final-height);
    overflow: hidden;
  }
  100% {
    height: auto;
    overflow: auto;
  }
}
