body {
    margin: 0;
    font-family: Helvetica, Verdana, sans;
    background: #FFF;
    color: #000000;
    overflow: hidden;
    -webkit-text-size-adjust: none;	
}

body > h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    border-bottom: 1px solid #2d3642;
}
a {
	color:#0072bc;
}

.category {
	display:none;
}
#header {
	position:absolute;
	height:32px;
	top:0px;
	width:120px;
	background-repeat:repeat-x;
	text-align:center;	
	background-image:url(/images/themes/iphone/newheader.jpg);
}
#header h1{	
	display:none;
}
#search {
	text-align:left;
	font-size:20px;
	left:120px;
	width:200px;
	position:absolute;
	height:32px;
	top:0px;
	background-image:url(/images/themes/iphone/newheader.jpg);
	background-position-x:-120px;
}

#search input[type=submit] {
	position:absolute;
	right:-12px;
	height:32px;
	width:15px;
	background-image:url(/images/themes/iphone/searcharrow.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:0px;
	color:transparent;
}
#search input[type=text] {	
	width:173px;
	height:15px;
	position:absolute;
	top:5px;
	left:3px;
}

#account {
	display:none;
}
#navigation {
	width:100%;
	text-align:right;
	position:absolute;
	list-style:none;
	top:0px;
	left:0px;
	height:28px;
	background-color:transparent;
	padding:0;
	margin:0;
	float:left;
	padding-top:2px;
	}
#navigation li {
	display:inline;
}
#navigation a {
	padding:5px;
	font-size:9px;
	color:#333333;
}
ul#navigation li.discussions a{
	position:absolute;
	left:8px;
	margin: 3px auto;
	color: #fff;
	text-decoration:none;
	font-weight:bold;
	top:5px;
	width:21px;
	height:15px;
	background-image:url(/images/themes/iphone/discussionicon.png);
	background-repeat:no-repeat;
	color:transparent;
}
ul#navigation li.messages a{
	position:absolute;
	left:83px;
	margin: 3px auto;
	color: #fff;
	text-decoration:none;
	font-weight:bold;
	top:3px;
	width:24px;
	height:17px;
	background-image:url(/images/themes/iphone/messageicon.png);
	background-repeat:no-repeat;
	color:transparent;
}
ul#navigation li.new_messages a{
	position:absolute;
	left:83px;
	margin: 3px auto;
	color: #fff;
	text-decoration:none;
	font-weight:bold;
	top:3px;
	width:24px;
	height:17px;
	background-image:url(/images/themes/iphone/messageicon.png);
	background-repeat:no-repeat;
	color:transparent;
}
ul#navigation li.categories {
	display:none;
}
ul#navigation li.users {
	display:none;
}
ul#navigation li.participated a{
	position:absolute;
	left:0px;
	color:#000;
	top:32px;
	font-size:12px;
	text-align:left;
	background-color:#dadada;
	height:12px;
	padding:3px;
	padding-left:8px;
	overflow:ellipses;
	width:20px;
}
#content {
	position:relative;
	width:100%;
	top:32px;
}
.notice {
	background-color:#FC9;
	font-size:10px;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
.functions {
	position:absolute;
	font-size:12px;
	color:#FFF;
	top:10px;
}
.edit {
		display:none;
}
.create {
	color: #000;
	position:absolute;
	text-decoration:none;
	overflow:hidden;
	padding-top:2px;
	height:16px;
	width:15px;
	top:-36px;
	left:48px;
	line-height:20px;
	background-image:url(/images/themes/iphone/addthread.png);
	background-repeat:no-repeat;
	color:transparent;
}
#edit {
	position:absolute;
	left:0px;
	color:#000;
	top:32px;
	font-size:12px;
	text-align:left;
	background-color:#dadada;
	height:12px;
	padding:3px;
	padding-left:8px;
	overflow:ellipses;
	width:20px;

}
.section a{
	display:none;
}

.pagination {
	font-size:14px;
	padding:3px;
	width:314px;
	height:35px;
	text-align:center;
	left:31px;
	background-color:#dadada;
	display:block;	
}
.pagination a {
	color:#333333;
	text-decoration:none;
}
table.discussions {
	position:inherit;
	top:0px;
	width:100%;
	font-size:12px;
	padding:0px;
	background-color:#FFF;
	padding-top:5px;
	padding-left:5px;
	
}

.sticky {
}
.category {
	display:none;
}
.started_by {
	display:none;
}
.labels {
	display:none;
}
.name a{
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	font-size:14px;
}

table.discussions td.last{
	color:#0072bc;
	font-size:11px;
	text-align:right;
}

table.discussions tr td.name {
	border-top:#CCCCCC 1px solid;	
}
table.discussions tr {
	border:0px;
	}

table.discussions td {
	padding-top:5px;
}
.last_post {
	display:none;
}
.last_active {
	color:#666666;
	font-size:11px;
}
.post_count {
	display:none;
}
div.posts {
	background-color:#FFFFFF;
	border-top:1px solid #666;
	width:320px;
}
div.posts a{
	text-decoration:none;
}

h2.section{
	display:none;
}
div.posts div.post {
	border-bottom: 1px solid #DDD;
	font-size:14px;
	padding:10px;
}
div.posts {
	top:30px;
	width:100%;
	}
.avatar {
	display:none;
}
.post_functions a{
	font-size:10px;
	color:#666666;
}
.post_functions {
	padding-bottom:10px;
}
.username a {
	color:#000;
	font-weight:bold;
}
.date {
	position:absolute;
	right:10px;
	font-weight:bold;
}
blockquote {
	background-color:#f9f6d5;
	float:left;
	margin-left:0px;
	margin-right:40px;
	width:94%;
	padding:10px;
}
cite {
	width:100%;
	background-color:#f9f6d5;
	font-weight:bold;
	padding-right:20px;
}
.compose {
	position:inherit;
	background:#FFF;
}

#compose-toolbar {
	list-style:none;
	padding:0;
	margin:0;
	
	}
#compose-toolbar li {
	display:inline;
}
#compose-toolbar a {
	padding:5px;
	font-size:12px;
	color:#333333;
	float:left;
	text-decoration:none;
}
#compose-body {
	width:100%;
}
#search_mode {
	display:none;
}
#reply-tabs {
	list-style:none;
	padding:0;
	margin:0;
	display:none;
	
	}
#reply-tabs li {
	display:inline;
}
#reply-tabs a {
	padding:5px;
	font-size:12px;
	color:#333333;
	float:left;
}
#replyText {
	width:300px;
	padding:10px;
}
.post_distance {
	font-size:12px;
	color:#666666;
	padding-left:5px;
	font-style:italic;
}
.bottomlinks {
	width:320px;
	height:22px;
	background-color:#7c90ad;
	background-image:url(/images/themes/iphone/bluegrade-30.jpg);
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding-top:8px;
	color:#FFFFFF;
}
.bottomlinks a{
	color:#FFFFFF;
	text-decoration:none;
}
#napkin {
	display:none;
}