<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= @site_name %> - Login</title>
	<%= javascript_include_tag :defaults %>
	<%# stylesheet_link_tag 'login' %>
</head>
<body>
	<% if flash[:notice] %>
		<div class="notice"><p><%= flash[:notice] %></p><div>
	<% end %>
	<div class="content">
		<%= yield %>
	</div>
</body>
</html>
